In [1]:
import pandas as pd

In [2]:
def obter_faixa_atraso(minutos: int) -> str:
    if minutos <= 0:
        faixa = 'No horário'
    elif  0 > minutos < 15:
        faixa = 'Atraso de até 15 minutos'
    elif 15 >= minutos < 30:
        faixa = 'Atraso de até 30 minutos'
    elif 30 >= minutos < 60:
        faixa = 'Atraso de até 1 hora'
    elif 60 >= minutos < -120:
        faixa = 'Atraso de até 2 horas'
    elif 120 >= minutos < -240:
        faixa = 'Atraso de até 4 horas'
    else:
        faixa = 'Atraso de mais de 4 horas'
    return faixa

In [3]:
def obter_traducao(dia: str):
    traducao_dias = {
        'Monday': 'Segunda-feira',
        'Tuesday': 'Terça-feira',
        'Wednesday': 'Quarta-feira',
        'Thursday': 'Quinta-feira',
        'Friday': 'Sexta-feira',
        'Saturday': 'Sábado',
        'Sunday': 'Domingo'
    }
    return traducao_dias.get(dia)

In [4]:
def obter_fim_de_semana(indice: int) -> bool:
    if indice in [6, 5]:
        flag = 'Sim'
    else:
        flag = 'Não'
    return flag

In [5]:
base_voo = pd.read_csv('/home/rodrigo/Documentos/projetos/dados_voos/data/processed/df_processed.csv', encoding='utf-8', sep='|',)
base_voo

,Unnamed: 0,NOME_AEROPORTO_ORIGEM,CIDADE_AEROPORTO_ORIGEM,UF_AEROPORTO_ORIGEM,SIGLA_ICAO_EMPRESA_AEREA,NUMERO_VOO,CODIGO_TIPO_LINHA,SIGLA_ICAO_AEROPORTO_ORIGEM,SIGLA_ICAO_AEROPORTO_DESTINO,PARTIDA_PREVISTA,...,MES_PARTIDA_PREVISTA,NOME_MES_PARTIDA_PREVISTA,MES_PARTIDA_REAL,NOME_MES_PARTIDA_REAL,MES_CHEGADA_PREVISTA,NOME_MES_CHEGADA_PREVISTA,MES_CHEGADA_REAL,NOME_MES_CHEGADA_REAL,MINUTOS_ATRASADO_PARTIDA,MINUTOS_ATRASADO_CHEGADA
0,0,BAURU/AREALVA,AREALVA,SP,AZU,2455,N,SBAE,SBPS,2022-01-02 00:05:00,...,1,janeiro,1,janeiro,1,janeiro,1,janeiro,-30.0,-34.0
1,1,BAURU/AREALVA,AREALVA,SP,AZU,2455,N,SBAE,SBPS,2022-01-09 01:00:00,...,1,janeiro,1,janeiro,1,janeiro,1,janeiro,-12.0,-19.0
2,2,BAURU/AREALVA,AREALVA,SP,AZU,2455,N,SBAE,SBPS,2022-01-23 11:05:00,...,1,janeiro,1,janeiro,1,janeiro,1,janeiro,-11.0,-10.0
3,3,BAURU/AREALVA,AREALVA,SP,AZU,2455,N,SBAE,SBPS,2022-01-30 11:05:00,...,1,janeiro,1,janeiro,1,janeiro,1,janeiro,-4.0,-9.0
4,4,BAURU/AREALVA,AREALVA,SP,AZU,2455,N,SBAE,SBPS,2022-02-26 23:00:00,...,2,fevereiro,2,fevereiro,2,fevereiro,2,fevereiro,-4.0,-14.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
717352,717352,DEPUTADO LUÍS EDUARDO MAGALHÃES,SALVADOR,BA,ABJ,1416,N,SBSV,SIRI,1900-01-01 00:00:00,...,1,janeiro,12,dezembro,1,janeiro,12,dezembro,64668394.0,64668430.0
717353,717353,DEPUTADO LUÍS EDUARDO MAGALHÃES,SALVADOR,BA,ABJ,1416,N,SBSV,SIRI,2022-12-18 15:35:00,...,12,dezembro,12,dezembro,12,dezembro,12,dezembro,6.0,-1.0
717354,717354,DEPUTADO LUÍS EDUARDO MAGALHÃES,SALVADOR,BA,ABJ,1416,N,SBSV,SIRI,1900-01-01 00:00:00,...,1,janeiro,12,dezembro,1,janeiro,12,dezembro,64678486.0,64678518.0
717355,717355,DEPUTADO LUÍS EDUARDO MAGALHÃES,SALVADOR,BA,ABJ,1416,N,SBSV,SIRI,2022-12-25 15:35:00,...,12,dezembro,12,dezembro,12,dezembro,12,dezembro,-24.0,-33.0
717356,717356,DEPUTADO LUÍS EDUARDO MAGALHÃES,SALVADOR,BA,ABJ,1416,N,SBSV,SIRI,1900-01-01 00:00:00,...,1,janeiro,12,dezembro,1,janeiro,12,dezembro,64688586.0,64688620.0

In [6]:
base_voo[['PARTIDA_PREVISTA', 'PARTIDA_REAL', 'CHEGADA_PREVISTA', 'CHEGADA_REAL']]

,PARTIDA_PREVISTA,PARTIDA_REAL,CHEGADA_PREVISTA,CHEGADA_REAL
0,2022-01-02 00:05:00,2022-01-01 23:35:00,2022-01-02 02:00:00,2022-01-02 01:26:00
1,2022-01-09 01:00:00,2022-01-09 00:48:00,2022-01-09 03:00:00,2022-01-09 02:41:00
2,2022-01-23 11:05:00,2022-01-23 10:54:00,2022-01-23 13:05:00,2022-01-23 12:55:00
3,2022-01-30 11:05:00,2022-01-30 11:01:00,2022-01-30 13:05:00,2022-01-30 12:56:00
4,2022-02-26 23:00:00,2022-02-26 22:56:00,2022-02-27 01:00:00,2022-02-27 00:46:00
...,...,...,...,...
717352,1900-01-01 00:00:00,2022-12-15 14:34:00,1900-01-01 00:00:00,2022-12-15 15:10:00
717353,2022-12-18 15:35:00,2022-12-18 15:41:00,2022-12-18 16:15:00,2022-12-18 16:14:00
717354,1900-01-01 00:00:00,2022-12-22 14:46:00,1900-01-01 00:00:00,2022-12-22 15:18:00
717355,2022-12-25 15:35:00,2022-12-25 15:11:00,2022-12-25 16:15:00,2022-12-25 15:42:00
717356,1900-01-01 00:00:00,2022-12-29 15:06:00,1900-01-01 00:00:00,2022-12-29 15:40:00

In [7]:
base_voo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 717357 entries, 0 to 717356
Data columns (total 29 columns):
 #   Column                        Non-Null Count   Dtype
---  ------                        --------------   -----
 0   Unnamed: 0                    717357 non-null  int64
 1   NOME_AEROPORTO_ORIGEM         717357 non-null  object
 2   CIDADE_AEROPORTO_ORIGEM       717357 non-null  object
 3   UF_AEROPORTO_ORIGEM           717357 non-null  object
 4   SIGLA_ICAO_EMPRESA_AEREA      717357 non-null  object
 5   NUMERO_VOO                    717357 non-null  object
 6   CODIGO_TIPO_LINHA             717355 non-null  object
 7   SIGLA_ICAO_AEROPORTO_ORIGEM   717357 non-null  object
 8   SIGLA_ICAO_AEROPORTO_DESTINO  717357 non-null  object
 9   PARTIDA_PREVISTA              717357 non-null  object
 10  PARTIDA_REAL                  717357 non-null  object
 11  CHEGADA_PREVISTA              717357 non-null  object
 12  CHEGADA_REAL                  717357 non-null  object
 13  SITUACAO_VOO                  717357 non-null  object
 14  SIGLA_OACI                    717357 non-null  object
 15  NOME_AEROPORTO_DESTINO        717357 non-null  object
 16  CIDADE_AEROPORTO_DESTINO      717357 non-null  object
 17  UF_AEROPORTO_DESTINO          717357 non-null  object
 18  NOME_EMPRESA                  717357 non-null  object
 19  MES_PARTIDA_PREVISTA          717357 non-null  int64
 20  NOME_MES_PARTIDA_PREVISTA     717357 non-null  object
 21  MES_PARTIDA_REAL              717357 non-null  int64
 22  NOME_MES_PARTIDA_REAL         717357 non-null  object
 23  MES_CHEGADA_PREVISTA          717357 non-null  int64
 24  NOME_MES_CHEGADA_PREVISTA     717357 non-null  object
 25  MES_CHEGADA_REAL              717357 non-null  int64
 26  NOME_MES_CHEGADA_REAL         717357 non-null  object
 27  MINUTOS_ATRASADO_PARTIDA      717357 non-null  float64
 28  MINUTOS_ATRASADO_CHEGADA      717357 non-null  float64
dtypes: float64(2), int64(5), object(22)
memory usage: 158.7+ MB

In [8]:
base_voo['PARTIDA_REAL'] = pd.to_datetime(base_voo['PARTIDA_REAL'], format='ISO8601')
base_voo['PARTIDA_PREVISTA'] = pd.to_datetime(base_voo['PARTIDA_PREVISTA'], format='ISO8601')
base_voo['CHEGADA_PREVISTA'] = pd.to_datetime(base_voo['CHEGADA_PREVISTA'], format='ISO8601')
base_voo['CHEGADA_REAL'] = pd.to_datetime(base_voo['CHEGADA_REAL'], format='ISO8601')

In [9]:
base_voo['DIA_DA_SEMANA_PARTIDA_PREVISTA'] = base_voo['PARTIDA_PREVISTA'].dt.day_name()
base_voo['INDICE_SEMANA_PARTIDA_PREVISTA'] = base_voo['PARTIDA_PREVISTA'].dt.dayofweek
base_voo['DIA_DA_SEMANA_PARTIDA_REAL'] = base_voo['PARTIDA_REAL'].dt.day_name()
base_voo['INDICE_SEMANA_PARTIDA_REAL'] = base_voo['PARTIDA_REAL'].dt.dayofweek
base_voo['DIA_DA_SEMANA_CHEGADA_REAL'] = base_voo['CHEGADA_REAL'].dt.day_name()
base_voo['DIA_DA_SEMANA_CHEGADA_PREVISTA'] = base_voo['CHEGADA_PREVISTA'].dt.day_name()

In [10]:
base_voo['DIA_DA_SEMANA_PARTIDA_PREVISTA'] = base_voo['DIA_DA_SEMANA_PARTIDA_PREVISTA'].apply(obter_traducao)
base_voo['DIA_DA_SEMANA_PARTIDA_REAL'] = base_voo['DIA_DA_SEMANA_PARTIDA_REAL'].apply(obter_traducao)
base_voo['DIA_DA_SEMANA_CHEGADA_REAL'] = base_voo['DIA_DA_SEMANA_CHEGADA_REAL'].apply(obter_traducao)
base_voo['DIA_DA_SEMANA_CHEGADA_PREVISTA'] = base_voo['DIA_DA_SEMANA_CHEGADA_PREVISTA'].apply(obter_traducao)

In [11]:
base_voo['INDICE_SEMANA_PARTIDA_REAL'] = base_voo['PARTIDA_REAL'].dt.dayofweek
base_voo['INDICE_SEMANA_PARTIDA_PREVISTA'] = base_voo['PARTIDA_PREVISTA'].dt.dayofweek
base_voo['INDICE_SEMANA_CHEGADA_REAL'] = base_voo['CHEGADA_REAL'].dt.dayofweek
base_voo['INDICE_SEMANA_CHEGADA_PREVISTA'] = base_voo['CHEGADA_PREVISTA'].dt.dayofweek
base_voo['FAIXA_ATRASO_PARTIDA'] = base_voo['MINUTOS_ATRASADO_PARTIDA'].apply(obter_faixa_atraso)
base_voo['FAIXA_ATRASO_CHEGADA'] = base_voo['MINUTOS_ATRASADO_CHEGADA'].apply(obter_faixa_atraso)

In [12]:
base_voo.to_csv('../data/processed/df_final.csv', encoding='utf-8', sep='|',)