- Importação biblioteca

In [1]:
import pandas as pd
import os
import locale
locale.setlocale(locale.LC_TIME, 'pt_BR.UTF-8')

'pt_BR.UTF-8'

- Dataframe isolado

In [2]:
columns = ['Sigla ICAO Empresa Aérea', 'Número Voo', 
       'Código Tipo Linha', 'Sigla ICAO Aeroporto Origem',
       'Sigla ICAO Aeroporto Destino', 'Partida Prevista', 'Partida Real',
       'Chegada Prevista', 'Chegada Real', 'Situação Voo']

In [3]:
caminho_csv = '../data/raw/historico_voos/'

In [4]:
def converter_atributos(dataframe: pd.DataFrame) -> pd.DataFrame:
   
    dataframe['Sigla ICAO Empresa Aérea'] = dataframe['Sigla ICAO Empresa Aérea'].astype('string')
    dataframe['Partida Prevista'] = dataframe['Partida Prevista'].astype('string')
    dataframe['Partida Prevista'] = pd.to_datetime(dataframe['Partida Prevista'],format='%d/%m/%Y %H:%M')
    dataframe['Partida Real'] = pd.to_datetime(dataframe['Partida Real'], format='%d/%m/%Y %H:%M')
    dataframe['Chegada Prevista'] = pd.to_datetime(dataframe['Chegada Prevista'], format='%d/%m/%Y %H:%M')
    dataframe['Chegada Real'] = pd.to_datetime(dataframe['Chegada Real'], format='%d/%m/%Y %H:%M')
    dataframe[['Número Voo', 'Código Tipo Linha', 'Sigla ICAO Aeroporto Origem', 'Sigla ICAO Aeroporto Destino', 'Situação Voo']] = dataframe[['Número Voo', 'Código Tipo Linha', 'Sigla ICAO Aeroporto Origem', 'Sigla ICAO Aeroporto Destino', 'Situação Voo']].astype('string')
    return dataframe

In [5]:
def abrir_dataframe(caminho: str, encoding: str ) -> pd.DataFrame:
    dataframe = pd.read_csv(caminho, sep=';', encoding='utf-8', usecols=columns)
    return dataframe

In [6]:
df_dados_voos_janeiro = abrir_dataframe(caminho='../data/raw/historico_voos/vra_01_2022.csv', encoding='utf-8')
df_dados_voos_janeiro = converter_atributos(dataframe=df_dados_voos_janeiro)
df_dados_voos_janeiro.head()

,Sigla ICAO Empresa Aérea,Número Voo,Código Tipo Linha,Sigla ICAO Aeroporto Origem,Sigla ICAO Aeroporto Destino,Partida Prevista,Partida Real,Chegada Prevista,Chegada Real,Situação Voo
0,AAL,904,I,SBGL,KMIA,2022-01-01 00:05:00,NaT,2022-01-01 08:50:00,NaT,CANCELADO
1,AAL,905,I,KMIA,SBGL,2022-01-01 22:00:00,NaT,2022-01-02 06:20:00,NaT,CANCELADO
2,AAL,906,I,SBGR,KMIA,2022-01-01 00:05:00,NaT,2022-01-01 08:40:00,NaT,CANCELADO
3,AAL,929,I,KMIA,SBGR,2022-01-01 22:00:00,NaT,2022-01-02 06:20:00,NaT,CANCELADO
4,AAL,930,I,SBGR,KMIA,2022-01-01 22:30:00,NaT,2022-01-02 06:55:00,NaT,CANCELADO

In [7]:
df_dados_voos_fevereiro = abrir_dataframe('../data/raw/historico_voos/VRA_02_2022.csv', encoding='utf-8')
df_dados_voos_fevereiro = converter_atributos(dataframe=df_dados_voos_fevereiro)
df_dados_voos_fevereiro

,Sigla ICAO Empresa Aérea,Número Voo,Código Tipo Linha,Sigla ICAO Aeroporto Origem,Sigla ICAO Aeroporto Destino,Partida Prevista,Partida Real,Chegada Prevista,Chegada Real,Situação Voo
0,AAL,789,I,KMIA,SBGR,2022-02-01 02:55:00,2022-02-01 02:56:00,2022-02-01 11:20:00,2022-02-01 10:58:00,REALIZADO
1,AAL,790,I,SBGR,KMIA,2022-02-01 11:20:00,2022-02-01 14:16:00,2022-02-01 19:40:00,2022-02-01 22:22:00,REALIZADO
2,AAL,904,I,SBGL,KMIA,2022-02-01 00:05:00,2022-01-31 23:49:00,2022-02-01 08:40:00,2022-02-01 08:37:00,REALIZADO
3,AAL,905,I,KMIA,SBGL,2022-02-01 22:00:00,2022-02-01 22:11:00,2022-02-02 06:20:00,2022-02-02 06:38:00,REALIZADO
4,AAL,906,I,SBGR,KMIA,2022-02-01 00:05:00,2022-02-01 00:03:00,2022-02-01 08:15:00,2022-02-01 08:04:00,REALIZADO
...,...,...,...,...,...,...,...,...,...,...
58192,URO,504,X,VHHH,VVNB,NaT,2022-02-17 07:00:00,NaT,2022-02-17 09:00:00,REALIZADO
58193,URO,504,X,HKJK,SBGR,NaT,2022-02-17 23:20:00,NaT,2022-02-18 10:29:00,REALIZADO
58194,URO,504,X,VVNB,HKJK,NaT,2022-02-17 12:00:00,NaT,2022-02-17 21:20:00,REALIZADO
58195,URO,505,I,SBGR,EGHH,2022-02-18 16:20:00,NaT,2022-02-19 03:30:00,NaT,CANCELADO
58196,URO,505,X,SBGR,EGHH,NaT,2022-02-19 18:10:00,NaT,2022-02-20 05:45:00,REALIZADO

In [8]:
df_dados_voos_marco = abrir_dataframe('../data/raw/historico_voos/VRA_03_2022.csv', encoding='utf-8')
df_dados_voos_marco = converter_atributos(dataframe=df_dados_voos_marco)
df_dados_voos_marco.head()

,Sigla ICAO Empresa Aérea,Número Voo,Código Tipo Linha,Sigla ICAO Aeroporto Origem,Sigla ICAO Aeroporto Destino,Partida Prevista,Partida Real,Chegada Prevista,Chegada Real,Situação Voo
0,AAL,262,I,SBGL,KMIA,2022-03-01 22:30:00,2022-03-01 22:35:00,2022-03-02 07:10:00,2022-03-02 07:11:00,REALIZADO
1,AAL,263,I,KMIA,SBGL,2022-03-01 00:45:00,2022-03-01 01:58:00,2022-03-01 09:05:00,2022-03-01 11:07:00,REALIZADO
2,AAL,789,X,KMIA,SBGR,NaT,2022-03-01 02:54:00,NaT,2022-03-01 11:02:00,REALIZADO
3,AAL,790,X,SBGR,KMIA,NaT,2022-03-01 11:17:00,NaT,2022-03-01 19:13:00,REALIZADO
4,AAL,904,I,SBGL,KMIA,2022-03-01 00:05:00,2022-03-01 00:00:00,2022-03-01 08:40:00,2022-03-01 08:03:00,REALIZADO

In [9]:
df_dados_voos_abril = abrir_dataframe('../data/raw/historico_voos/vra_04_2022.csv', encoding='utf-8')
df_dados_voos_abril = converter_atributos(dataframe=df_dados_voos_abril)
df_dados_voos_abril.head()

/tmp/ipykernel_15028/1578248461.py:2: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  dataframe = pd.read_csv(caminho, sep=';', encoding='utf-8', usecols=columns)

,Sigla ICAO Empresa Aérea,Número Voo,Código Tipo Linha,Sigla ICAO Aeroporto Origem,Sigla ICAO Aeroporto Destino,Partida Prevista,Partida Real,Chegada Prevista,Chegada Real,Situação Voo
0,AAL,904,I,SBGL,KMIA,2022-04-01 23:00:00,2022-04-01 22:53:00,2022-04-02 07:40:00,2022-04-02 05:56:00,REALIZADO
1,AAL,905,I,KMIA,SBGL,2022-04-01 21:05:00,2022-04-01 21:01:00,2022-04-02 05:10:00,2022-04-02 05:11:00,REALIZADO
2,AAL,906,I,SBGR,KMIA,2022-04-01 23:15:00,2022-04-01 23:10:00,2022-04-02 07:50:00,2022-04-02 07:20:00,REALIZADO
3,AAL,929,I,KMIA,SBGR,2022-04-01 20:45:00,2022-04-01 20:45:00,2022-04-02 05:15:00,2022-04-02 04:56:00,REALIZADO
4,AAL,930,I,SBGR,KMIA,2022-04-01 21:25:00,2022-04-01 21:16:00,2022-04-02 05:55:00,2022-04-02 05:12:00,REALIZADO

In [10]:
df_dados_voos_abril.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 66142 entries, 0 to 66141
Data columns (total 10 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Sigla ICAO Empresa Aérea      66142 non-null  string
 1   Número Voo                    66142 non-null  string
 2   Código Tipo Linha             66141 non-null  string
 3   Sigla ICAO Aeroporto Origem   66142 non-null  string
 4   Sigla ICAO Aeroporto Destino  66142 non-null  string
 5   Partida Prevista              63340 non-null  datetime64[ns]
 6   Partida Real                  63925 non-null  datetime64[ns]
 7   Chegada Prevista              63340 non-null  datetime64[ns]
 8   Chegada Real                  63921 non-null  datetime64[ns]
 9   Situação Voo                  66142 non-null  string
dtypes: datetime64[ns](4), string(6)
memory usage: 5.0 MB

In [11]:
df_dados_voos_maio = abrir_dataframe('../data/raw/historico_voos/VRA_05_2022.csv', encoding='utf-8')
df_dados_voos_maio = converter_atributos(df_dados_voos_maio)
df_dados_voos_maio.head()

,Sigla ICAO Empresa Aérea,Número Voo,Código Tipo Linha,Sigla ICAO Aeroporto Origem,Sigla ICAO Aeroporto Destino,Partida Prevista,Partida Real,Chegada Prevista,Chegada Real,Situação Voo
0,1DE,5330,I,SLVR,SBPA,2022-05-15 17:35:00,2022-05-15 20:25:00,2022-05-15 20:05:00,2022-05-15 23:05:00,REALIZADO
1,1DE,5330,I,SKLT,SLVR,2022-05-15 14:00:00,2022-05-15 17:00:00,2022-05-15 16:35:00,2022-05-15 19:25:00,REALIZADO
2,1ED,5330,I,SLVR,SKLT,2022-05-18 04:00:00,2022-05-18 08:10:00,2022-05-18 06:35:00,2022-05-18 10:35:00,REALIZADO
3,1ED,5330,I,SBPA,SLVR,2022-05-18 00:15:00,2022-05-18 04:30:00,2022-05-18 03:00:00,2022-05-18 07:10:00,REALIZADO
4,AAL,904,I,SBGL,KMIA,2022-05-01 23:00:00,2022-05-01 22:56:00,2022-05-02 07:45:00,2022-05-02 07:25:00,REALIZADO

In [12]:
df_dados_voos_junho = abrir_dataframe('../data/raw/historico_voos/vra_06_2022.csv', encoding='utf-8')
df_dados_voos_junho = converter_atributos(df_dados_voos_junho)
df_dados_voos_junho.head()

,Sigla ICAO Empresa Aérea,Número Voo,Código Tipo Linha,Sigla ICAO Aeroporto Origem,Sigla ICAO Aeroporto Destino,Partida Prevista,Partida Real,Chegada Prevista,Chegada Real,Situação Voo
0,AAL,904,I,SBGL,KMIA,2022-06-01 23:00:00,2022-06-01 22:57:00,2022-06-02 07:45:00,2022-06-02 07:17:00,REALIZADO
1,AAL,905,I,KMIA,SBGL,2022-06-01 21:00:00,2022-06-01 21:55:00,2022-06-02 05:10:00,2022-06-02 06:07:00,REALIZADO
2,AAL,906,I,SBGR,KMIA,2022-06-01 23:15:00,2022-06-01 23:13:00,2022-06-02 07:45:00,2022-06-02 07:36:00,REALIZADO
3,AAL,929,I,KMIA,SBGR,2022-06-01 21:00:00,2022-06-01 23:36:00,2022-06-02 05:15:00,2022-06-02 07:41:00,REALIZADO
4,AAL,930,I,SBGR,KMIA,2022-06-01 21:25:00,2022-06-01 21:19:00,2022-06-02 06:00:00,2022-06-02 05:27:00,REALIZADO

In [13]:
df_dados_voos_julho= abrir_dataframe('../data/raw/historico_voos/vra_07_2022.csv', encoding='utf-8')
df_dados_voos_julho = converter_atributos(df_dados_voos_julho)
df_dados_voos_julho.head()

,Sigla ICAO Empresa Aérea,Número Voo,Código Tipo Linha,Sigla ICAO Aeroporto Origem,Sigla ICAO Aeroporto Destino,Partida Prevista,Partida Real,Chegada Prevista,Chegada Real,Situação Voo
0,AAL,904,I,SBGL,KMIA,2022-07-01 23:00:00,2022-07-03 01:33:00,2022-07-02 07:45:00,2022-07-03 09:45:00,REALIZADO
1,AAL,905,I,KMIA,SBGL,2022-07-01 20:50:00,2022-07-02 14:11:00,2022-07-02 05:10:00,2022-07-02 22:08:00,REALIZADO
2,AAL,929,I,KMIA,SBGR,2022-07-01 20:45:00,2022-07-01 21:14:00,2022-07-02 05:15:00,2022-07-02 05:18:00,REALIZADO
3,AAL,930,I,SBGR,KMIA,2022-07-01 21:25:00,2022-07-01 21:20:00,2022-07-02 06:00:00,2022-07-02 05:13:00,REALIZADO
4,AAL,950,I,SBGR,KJFK,2022-07-01 23:15:00,2022-07-01 23:01:00,2022-07-02 08:59:00,2022-07-02 08:30:00,REALIZADO

In [14]:
df_dados_voos_agosto = abrir_dataframe('../data/raw/historico_voos/VRA_08_2022.csv', encoding='utf-8')
df_dados_voos_agosto = converter_atributos(df_dados_voos_agosto)
df_dados_voos_agosto.head()

,Sigla ICAO Empresa Aérea,Número Voo,Código Tipo Linha,Sigla ICAO Aeroporto Origem,Sigla ICAO Aeroporto Destino,Partida Prevista,Partida Real,Chegada Prevista,Chegada Real,Situação Voo
0,AAL,904,I,SBGL,KMIA,2022-08-01 23:00:00,2022-08-01 22:49:00,2022-08-02 07:45:00,2022-08-02 07:26:00,REALIZADO
1,AAL,905,I,KMIA,SBGL,2022-08-01 20:50:00,2022-08-01 20:47:00,2022-08-02 05:10:00,2022-08-02 05:06:00,REALIZADO
2,AAL,929,I,KMIA,SBGR,2022-08-01 20:45:00,2022-08-01 21:44:00,2022-08-02 05:15:00,2022-08-02 06:04:00,REALIZADO
3,AAL,930,I,SBGR,KMIA,2022-08-01 21:25:00,2022-08-01 21:24:00,2022-08-02 06:00:00,2022-08-02 05:42:00,REALIZADO
4,AAL,950,I,SBGR,KJFK,2022-08-01 23:15:00,2022-08-01 23:09:00,2022-08-02 08:59:00,2022-08-02 08:31:00,REALIZADO

In [15]:
df_dados_voos_agosto.loc[3191]

Sigla ICAO Empresa Aérea                        ARG
Número Voo                                     1259
Código Tipo Linha                                 I
Sigla ICAO Aeroporto Origem                    SBGR
Sigla ICAO Aeroporto Destino                   SACO
Partida Prevista                2022-08-26 10:30:00
Partida Real                    2022-02-26 11:00:00
Chegada Prevista                2022-08-26 13:35:00
Chegada Real                    2022-08-26 14:05:00
Situação Voo                              REALIZADO
Name: 3191, dtype: object

In [16]:
df_dados_voos_agosto.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 75796 entries, 0 to 75795
Data columns (total 10 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Sigla ICAO Empresa Aérea      75796 non-null  string
 1   Número Voo                    75796 non-null  string
 2   Código Tipo Linha             75796 non-null  string
 3   Sigla ICAO Aeroporto Origem   75796 non-null  string
 4   Sigla ICAO Aeroporto Destino  75796 non-null  string
 5   Partida Prevista              73528 non-null  datetime64[ns]
 6   Partida Real                  73267 non-null  datetime64[ns]
 7   Chegada Prevista              73528 non-null  datetime64[ns]
 8   Chegada Real                  73265 non-null  datetime64[ns]
 9   Situação Voo                  75796 non-null  string
dtypes: datetime64[ns](4), string(6)
memory usage: 5.8 MB

In [17]:
df_dados_voos_setembro = abrir_dataframe('../data/raw/historico_voos/vra_2022_09.csv', encoding='utf-8')
df_dados_voos_setembro = converter_atributos(df_dados_voos_setembro)
df_dados_voos_setembro.head()

,Sigla ICAO Empresa Aérea,Número Voo,Código Tipo Linha,Sigla ICAO Aeroporto Origem,Sigla ICAO Aeroporto Destino,Partida Prevista,Partida Real,Chegada Prevista,Chegada Real,Situação Voo
0,AAL,904,I,SBGL,KMIA,2022-09-01 23:00:00,2022-09-02 11:45:00,2022-09-02 07:45:00,2022-09-02 20:08:00,REALIZADO
1,AAL,905,I,KMIA,SBGL,2022-09-01 20:38:00,2022-09-01 20:58:00,2022-09-02 05:10:00,2022-09-02 05:05:00,REALIZADO
2,AAL,929,I,KMIA,SBGR,2022-09-01 21:39:00,2022-09-01 20:46:00,2022-09-02 05:15:00,2022-09-02 05:11:00,REALIZADO
3,AAL,930,I,SBGR,KMIA,2022-09-01 21:25:00,2022-09-01 21:57:00,2022-09-02 05:55:00,2022-09-02 06:23:00,REALIZADO
4,AAL,950,I,SBGR,KJFK,2022-09-01 23:15:00,2022-09-01 23:12:00,2022-09-02 08:59:00,2022-09-02 08:40:00,REALIZADO

In [18]:
df_dados_voos_outubro = abrir_dataframe('../data/raw/historico_voos/vra_2022_10.csv', encoding='utf-8')
df_dados_voos_outubro = converter_atributos(df_dados_voos_outubro)
df_dados_voos_outubro.head()

,Sigla ICAO Empresa Aérea,Número Voo,Código Tipo Linha,Sigla ICAO Aeroporto Origem,Sigla ICAO Aeroporto Destino,Partida Prevista,Partida Real,Chegada Prevista,Chegada Real,Situação Voo
0,AAL,904,I,SBGL,KMIA,2022-10-01 23:00:00,NaT,2022-10-02 07:43:00,NaT,CANCELADO
1,AAL,905,I,KMIA,SBGL,2022-10-01 20:38:00,NaT,2022-10-02 05:10:00,NaT,CANCELADO
2,AAL,929,I,KMIA,SBGR,2022-10-01 21:39:00,NaT,2022-10-02 05:15:00,NaT,CANCELADO
3,AAL,930,I,SBGR,KMIA,2022-10-01 21:25:00,NaT,2022-10-02 05:55:00,NaT,CANCELADO
4,AAL,950,I,SBGR,KJFK,2022-10-01 23:15:00,NaT,2022-10-02 08:56:00,NaT,CANCELADO

In [19]:
df_dados_voos_novembro = abrir_dataframe('../data/raw/historico_voos/vra_2022_11.csv', encoding='utf-8')
df_dados_voos_novembro = converter_atributos(df_dados_voos_novembro)
df_dados_voos_novembro.head()

,Sigla ICAO Empresa Aérea,Número Voo,Código Tipo Linha,Sigla ICAO Aeroporto Origem,Partida Prevista,Partida Real,Sigla ICAO Aeroporto Destino,Chegada Prevista,Chegada Real,Situação Voo
0,AAL,904,I,SBGL,2022-11-01 00:05:00,2022-11-01 22:57:00,KMIA,2022-11-01 08:37:00,2022-11-02 07:19:00,REALIZADO
1,AAL,905,I,KMIA,2022-11-01 21:45:00,2022-11-02 00:51:00,SBGL,2022-11-02 06:20:00,2022-11-02 08:50:00,REALIZADO
2,AAL,906,X,SBGR,NaT,2022-11-01 14:14:00,KMIA,NaT,2022-11-01 22:22:00,REALIZADO
3,AAL,929,I,KMIA,2022-11-01 21:45:00,2022-11-01 00:53:00,SBGR,2022-11-02 06:20:00,2022-11-01 08:54:00,REALIZADO
4,AAL,930,I,SBGR,2022-11-01 22:00:00,2022-11-02 22:53:00,KMIA,2022-11-02 06:55:00,2022-11-03 07:34:00,REALIZADO

In [20]:
df_dados_voos_novembro.iloc[3950]

Sigla ICAO Empresa Aérea                        ARG
Número Voo                                     1241
Código Tipo Linha                                 I
Sigla ICAO Aeroporto Origem                    SBGR
Partida Prevista                2022-11-28 10:30:00
Partida Real                    2022-12-28 10:55:00
Sigla ICAO Aeroporto Destino                   SABE
Chegada Prevista                2022-11-28 13:25:00
Chegada Real                    2022-11-28 13:25:00
Situação Voo                              REALIZADO
Name: 3950, dtype: object

In [21]:
df_dados_voo_dezembro = abrir_dataframe('../data/raw/historico_voos/VRA_2022_12.csv', encoding='utf-8')
df_dados_voo_dezembro = converter_atributos(df_dados_voo_dezembro)
df_dados_voo_dezembro.head()

,Sigla ICAO Empresa Aérea,Número Voo,Código Tipo Linha,Sigla ICAO Aeroporto Origem,Partida Prevista,Partida Real,Sigla ICAO Aeroporto Destino,Chegada Prevista,Chegada Real,Situação Voo
0,AAL,904,I,SBGL,2022-12-01 00:05:00,2022-12-01 00:00:00,KMIA,2022-12-01 08:37:00,2022-12-01 08:32:00,REALIZADO
1,AAL,905,I,KMIA,2022-12-01 21:45:00,2022-12-01 00:57:00,SBGL,2022-12-02 06:20:00,2022-12-01 08:51:00,REALIZADO
2,AAL,906,I,SBGR,2022-12-01 00:00:00,2022-12-01 00:42:00,KMIA,2022-12-01 06:30:00,2022-12-01 08:57:00,REALIZADO
3,AAL,929,I,KMIA,2022-12-01 21:45:00,2022-12-01 21:47:00,SBGR,2022-12-02 06:20:00,2022-12-02 05:53:00,REALIZADO
4,AAL,930,I,SBGR,2022-12-01 22:00:00,2022-12-01 22:26:00,KMIA,2022-12-02 06:55:00,2022-12-02 06:55:00,REALIZADO

In [22]:
df_dados_voo_dezembro.iloc[30950]

Sigla ICAO Empresa Aérea                        BAW
Número Voo                                      247
Código Tipo Linha                                 I
Sigla ICAO Aeroporto Origem                    EGLL
Partida Prevista                2022-12-05 18:10:00
Partida Real                    2022-12-05 19:12:00
Sigla ICAO Aeroporto Destino                   SBGR
Chegada Prevista                2022-12-06 06:00:00
Chegada Real                    2022-12-06 06:14:00
Situação Voo                              REALIZADO
Name: 30950, dtype: object

- gerando dataframe completo

In [23]:
df_dados_voos_completo = pd.concat(
   [ 
        df_dados_voos_janeiro,
        df_dados_voos_fevereiro,
        df_dados_voos_marco,
        df_dados_voos_abril,
        df_dados_voos_maio,
        df_dados_voos_junho,
        df_dados_voos_julho,
        df_dados_voos_agosto,
        df_dados_voos_setembro,
        df_dados_voos_outubro,
        df_dados_voos_novembro,
        df_dados_voo_dezembro
    ],
    ignore_index=True
)

In [24]:
df_dados_voos_completo

,Sigla ICAO Empresa Aérea,Número Voo,Código Tipo Linha,Sigla ICAO Aeroporto Origem,Sigla ICAO Aeroporto Destino,Partida Prevista,Partida Real,Chegada Prevista,Chegada Real,Situação Voo
0,AAL,904,I,SBGL,KMIA,2022-01-01 00:05:00,NaT,2022-01-01 08:50:00,NaT,CANCELADO
1,AAL,905,I,KMIA,SBGL,2022-01-01 22:00:00,NaT,2022-01-02 06:20:00,NaT,CANCELADO
2,AAL,906,I,SBGR,KMIA,2022-01-01 00:05:00,NaT,2022-01-01 08:40:00,NaT,CANCELADO
3,AAL,929,I,KMIA,SBGR,2022-01-01 22:00:00,NaT,2022-01-02 06:20:00,NaT,CANCELADO
4,AAL,930,I,SBGR,KMIA,2022-01-01 22:30:00,NaT,2022-01-02 06:55:00,NaT,CANCELADO
...,...,...,...,...,...,...,...,...,...,...
875269,VVC,461,X,SBGR,SKRG,NaT,2022-12-30 20:00:00,NaT,2022-12-31 06:21:00,REALIZADO
875270,VVC,460,I,SBGR,SKRG,2022-12-31 05:20:00,NaT,2022-12-31 11:38:00,NaT,CANCELADO
875271,VVC,460,X,SKRG,SBGR,NaT,2022-12-31 07:24:00,NaT,2022-12-31 09:25:00,REALIZADO
875272,VVC,461,I,SKRG,SBGR,2022-12-31 22:00:00,NaT,2023-01-01 04:30:00,NaT,CANCELADO
875273,VVC,461,X,SBGR,SKRG,NaT,2022-12-31 20:01:00,NaT,2023-01-01 06:33:00,REALIZADO

In [25]:
df_dados_voos_completo.dtypes

Sigla ICAO Empresa Aérea        string[python]
Número Voo                      string[python]
Código Tipo Linha               string[python]
Sigla ICAO Aeroporto Origem     string[python]
Sigla ICAO Aeroporto Destino    string[python]
Partida Prevista                datetime64[ns]
Partida Real                    datetime64[ns]
Chegada Prevista                datetime64[ns]
Chegada Real                    datetime64[ns]
Situação Voo                    string[python]
dtype: object

In [26]:
df_dados_voos_completo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 875274 entries, 0 to 875273
Data columns (total 10 columns):
 #   Column                        Non-Null Count   Dtype
---  ------                        --------------   -----
 0   Sigla ICAO Empresa Aérea      875274 non-null  string
 1   Número Voo                    875274 non-null  string
 2   Código Tipo Linha             875271 non-null  string
 3   Sigla ICAO Aeroporto Origem   875274 non-null  string
 4   Sigla ICAO Aeroporto Destino  875274 non-null  string
 5   Partida Prevista              844773 non-null  datetime64[ns]
 6   Partida Real                  834102 non-null  datetime64[ns]
 7   Chegada Prevista              844773 non-null  datetime64[ns]
 8   Chegada Real                  834081 non-null  datetime64[ns]
 9   Situação Voo                  875274 non-null  string
dtypes: datetime64[ns](4), string(6)
memory usage: 66.8 MB

In [27]:
df_dados_voos_completo = df_dados_voos_completo.rename(columns={
    'Sigla ICAO Empresa Aérea': 'SIGLA_ICAO_EMPRESA_AEREA',
    'Número Voo': 'NUMERO_VOO',
    'Código Tipo Linha': 'CODIGO_TIPO_LINHA',
    'Sigla ICAO Aeroporto Origem' : 'SIGLA_ICAO_AEROPORTO_ORIGEM',
    'Sigla ICAO Aeroporto Destino' : 'SIGLA_ICAO_AEROPORTO_DESTINO',
    'Partida Prevista' : 'PARTIDA_PREVISTA',
    'Partida Real': 'PARTIDA_REAL',
    'Chegada Prevista' : 'CHEGADA_PREVISTA',
    'Chegada Real': 'CHEGADA_REAL',
    'Situação Voo': 'SITUACAO_VOO'
})

In [28]:
df_dados_voos_completo

,SIGLA_ICAO_EMPRESA_AEREA,NUMERO_VOO,CODIGO_TIPO_LINHA,SIGLA_ICAO_AEROPORTO_ORIGEM,SIGLA_ICAO_AEROPORTO_DESTINO,PARTIDA_PREVISTA,PARTIDA_REAL,CHEGADA_PREVISTA,CHEGADA_REAL,SITUACAO_VOO
0,AAL,904,I,SBGL,KMIA,2022-01-01 00:05:00,NaT,2022-01-01 08:50:00,NaT,CANCELADO
1,AAL,905,I,KMIA,SBGL,2022-01-01 22:00:00,NaT,2022-01-02 06:20:00,NaT,CANCELADO
2,AAL,906,I,SBGR,KMIA,2022-01-01 00:05:00,NaT,2022-01-01 08:40:00,NaT,CANCELADO
3,AAL,929,I,KMIA,SBGR,2022-01-01 22:00:00,NaT,2022-01-02 06:20:00,NaT,CANCELADO
4,AAL,930,I,SBGR,KMIA,2022-01-01 22:30:00,NaT,2022-01-02 06:55:00,NaT,CANCELADO
...,...,...,...,...,...,...,...,...,...,...
875269,VVC,461,X,SBGR,SKRG,NaT,2022-12-30 20:00:00,NaT,2022-12-31 06:21:00,REALIZADO
875270,VVC,460,I,SBGR,SKRG,2022-12-31 05:20:00,NaT,2022-12-31 11:38:00,NaT,CANCELADO
875271,VVC,460,X,SKRG,SBGR,NaT,2022-12-31 07:24:00,NaT,2022-12-31 09:25:00,REALIZADO
875272,VVC,461,I,SKRG,SBGR,2022-12-31 22:00:00,NaT,2023-01-01 04:30:00,NaT,CANCELADO
875273,VVC,461,X,SBGR,SKRG,NaT,2022-12-31 20:01:00,NaT,2023-01-01 06:33:00,REALIZADO

- carga dicionario aerodormo

In [29]:
base_aerodromo = pd.read_excel('../data/raw/historico_voos/dicionario/glossario_de_aerodromo.xls', header=3, index_col=1, )
base_aerodromo.head()

,Unnamed: 0,Descrição,Cidade,UF,País,Continente
Sigla OACI,,,,,,
1AON,NaN,OUROLANDIA DO NORTE,OURILANDIA DO NORTE,PA,BRASIL,AMERICA DO SUL
2NHT,NaN,HOTEL TRANSAMÉRICA,UNA,BA,BRASIL,AMERICA DO SUL
6ASO,NaN,SORRISO,SORRISO,MT,BRASIL,AMERICA DO SUL
CYMX,NaN,MONTREAL-MIRABEL INTERNATIONAL AIRPORT,MIRABEL,NaN,CANADA,AMERICA DO NORTE
CYQB,NaN,QUEBEC CITY JEAN LESAGE INTERNATIONAL AIRPORT,QUEBEC JEAN LESAGE INTL,NaN,CANADA,AMERICA DO NORTE

In [30]:
base_aerodromo.drop(['Unnamed: 0', 'Continente'], axis=1,inplace=True)
base_aerodromo.reset_index()

,Sigla OACI,Descrição,Cidade,UF,País
0,1AON,OUROLANDIA DO NORTE,OURILANDIA DO NORTE,PA,BRASIL
1,2NHT,HOTEL TRANSAMÉRICA,UNA,BA,BRASIL
2,6ASO,SORRISO,SORRISO,MT,BRASIL
3,CYMX,MONTREAL-MIRABEL INTERNATIONAL AIRPORT,MIRABEL,NaN,CANADA
4,CYQB,QUEBEC CITY JEAN LESAGE INTERNATIONAL AIRPORT,QUEBEC JEAN LESAGE INTL,NaN,CANADA
...,...,...,...,...,...
806,WIII,SOEKARNO HATTA INTERNATIONAL AIRPORT,JAKARTA SOEKARNO HATTA,NaN,INDONESIA
807,WSSL,SELETAR AIRPORT,SINGAPORE SELETAR,NaN,SINGAPURA
808,WSSS,SINGAPORE CHANGI AIRPORT/CHANGI AIR BASE (JOIN...,CHANGI,NaN,SINGAPURA
809,YBCS,CAIRNS INTERNATIONAL AIRPORT,CAIRNS,NaN,AUSTRALIA
810,ZBAA,BEIJING CAPITAL INTERNATIONAL AIRPORT,BEIJING,NaN,CHINA

In [31]:
base_aerodromo = base_aerodromo.rename(columns={
    'Sigla OACI' : 'SIGLA_OACI',
    'Descrição' : 'DESCRICAO',
    'Cidade' : 'CIDADE',
    'País': 'PAIS' 
})

In [32]:
base_aerodromo.reset_index(inplace=True)

In [33]:
base_aerodromo.head()

,Sigla OACI,DESCRICAO,CIDADE,UF,PAIS
0,1AON,OUROLANDIA DO NORTE,OURILANDIA DO NORTE,PA,BRASIL
1,2NHT,HOTEL TRANSAMÉRICA,UNA,BA,BRASIL
2,6ASO,SORRISO,SORRISO,MT,BRASIL
3,CYMX,MONTREAL-MIRABEL INTERNATIONAL AIRPORT,MIRABEL,NaN,CANADA
4,CYQB,QUEBEC CITY JEAN LESAGE INTERNATIONAL AIRPORT,QUEBEC JEAN LESAGE INTL,NaN,CANADA

In [34]:
base_aerodromo = base_aerodromo.query('PAIS == "BRASIL"')

In [35]:
base_aerodromo = base_aerodromo.rename(columns={
    'Sigla OACI' : 'SIGLA_OACI',
    'Descrição' : 'DESCRICAO',
    'Cidade' : 'CIDADE',
    'País': 'PAIS' 
})

In [36]:
base_aerodromo.head()

    SIGLA_OACI              DESCRICAO                 CIDADE  UF    PAIS
0         1AON    OUROLANDIA DO NORTE    OURILANDIA DO NORTE  PA  BRASIL
1         2NHT     HOTEL TRANSAMÉRICA                   UNA   BA  BRASIL
2         6ASO                SORRISO                SORRISO  MT  BRASIL
312       SBAA  CONCEIÇÃO DO ARAGUAIA  CONCEIÇÃO DO ARAGUAIA  PA  BRASIL
313       SBAE          BAURU/AREALVA                AREALVA  SP  BRASIL

In [37]:
base_aerodromo.columns

Index(['SIGLA_OACI', 'DESCRICAO', 'CIDADE', 'UF', 'PAIS'], dtype='object')

- Unindo dataframe para pegar as cidade dos aeroportos origens

In [38]:
memory_mb = df_dados_voos_completo.memory_usage(deep=True).sum() / (1024 * 1024)
print(f"Uso de memória total: {memory_mb:.2f} MB")

Uso de memória total: 333.01 MB

In [39]:
df_dados_voos_completo

,SIGLA_ICAO_EMPRESA_AEREA,NUMERO_VOO,CODIGO_TIPO_LINHA,SIGLA_ICAO_AEROPORTO_ORIGEM,SIGLA_ICAO_AEROPORTO_DESTINO,PARTIDA_PREVISTA,PARTIDA_REAL,CHEGADA_PREVISTA,CHEGADA_REAL,SITUACAO_VOO
0,AAL,904,I,SBGL,KMIA,2022-01-01 00:05:00,NaT,2022-01-01 08:50:00,NaT,CANCELADO
1,AAL,905,I,KMIA,SBGL,2022-01-01 22:00:00,NaT,2022-01-02 06:20:00,NaT,CANCELADO
2,AAL,906,I,SBGR,KMIA,2022-01-01 00:05:00,NaT,2022-01-01 08:40:00,NaT,CANCELADO
3,AAL,929,I,KMIA,SBGR,2022-01-01 22:00:00,NaT,2022-01-02 06:20:00,NaT,CANCELADO
4,AAL,930,I,SBGR,KMIA,2022-01-01 22:30:00,NaT,2022-01-02 06:55:00,NaT,CANCELADO
...,...,...,...,...,...,...,...,...,...,...
875269,VVC,461,X,SBGR,SKRG,NaT,2022-12-30 20:00:00,NaT,2022-12-31 06:21:00,REALIZADO
875270,VVC,460,I,SBGR,SKRG,2022-12-31 05:20:00,NaT,2022-12-31 11:38:00,NaT,CANCELADO
875271,VVC,460,X,SKRG,SBGR,NaT,2022-12-31 07:24:00,NaT,2022-12-31 09:25:00,REALIZADO
875272,VVC,461,I,SKRG,SBGR,2022-12-31 22:00:00,NaT,2023-01-01 04:30:00,NaT,CANCELADO
875273,VVC,461,X,SBGR,SKRG,NaT,2022-12-31 20:01:00,NaT,2023-01-01 06:33:00,REALIZADO

In [40]:
df_dados_voos_completo.columns

Index(['SIGLA_ICAO_EMPRESA_AEREA', 'NUMERO_VOO', 'CODIGO_TIPO_LINHA',
       'SIGLA_ICAO_AEROPORTO_ORIGEM', 'SIGLA_ICAO_AEROPORTO_DESTINO',
       'PARTIDA_PREVISTA', 'PARTIDA_REAL', 'CHEGADA_PREVISTA', 'CHEGADA_REAL',
       'SITUACAO_VOO'],
      dtype='object')

In [41]:
result = pd.merge(base_aerodromo,df_dados_voos_completo, left_on = 'SIGLA_OACI', right_on='SIGLA_ICAO_AEROPORTO_ORIGEM' )
result.head()

,SIGLA_OACI,DESCRICAO,CIDADE,UF,PAIS,SIGLA_ICAO_EMPRESA_AEREA,NUMERO_VOO,CODIGO_TIPO_LINHA,SIGLA_ICAO_AEROPORTO_ORIGEM,SIGLA_ICAO_AEROPORTO_DESTINO,PARTIDA_PREVISTA,PARTIDA_REAL,CHEGADA_PREVISTA,CHEGADA_REAL,SITUACAO_VOO
0,SBAE,BAURU/AREALVA,AREALVA,SP,BRASIL,AZU,2455,N,SBAE,SBPS,2022-01-02 00:05:00,2022-01-01 23:35:00,2022-01-02 02:00:00,2022-01-02 01:26:00,REALIZADO
1,SBAE,BAURU/AREALVA,AREALVA,SP,BRASIL,AZU,2611,N,SBAE,SBKP,2022-01-02 19:40:00,2022-01-02 23:22:00,2022-01-02 20:35:00,2022-01-03 00:13:00,REALIZADO
2,SBAE,BAURU/AREALVA,AREALVA,SP,BRASIL,AZU,4288,N,SBAE,SBKP,2022-01-03 05:35:00,2022-01-03 05:35:00,2022-01-03 06:30:00,2022-01-03 06:21:00,REALIZADO
3,SBAE,BAURU/AREALVA,AREALVA,SP,BRASIL,AZU,4288,N,SBAE,SBKP,2022-01-04 05:35:00,2022-01-04 05:25:00,2022-01-04 06:30:00,2022-01-04 06:08:00,REALIZADO
4,SBAE,BAURU/AREALVA,AREALVA,SP,BRASIL,AZU,4288,N,SBAE,SBKP,2022-01-05 05:35:00,2022-01-05 06:45:00,2022-01-05 06:30:00,2022-01-05 07:46:00,REALIZADO

In [42]:
result[result['UF'] == 'PA']

,SIGLA_OACI,DESCRICAO,CIDADE,UF,PAIS,SIGLA_ICAO_EMPRESA_AEREA,NUMERO_VOO,CODIGO_TIPO_LINHA,SIGLA_ICAO_AEROPORTO_ORIGEM,SIGLA_ICAO_AEROPORTO_DESTINO,PARTIDA_PREVISTA,PARTIDA_REAL,CHEGADA_PREVISTA,CHEGADA_REAL,SITUACAO_VOO
6426,SBBE,VAL DE CANS,BELÉM,PA,BRASIL,ACN,5860,N,SBBE,SNVS,2022-01-01 07:00:00,2022-01-01 06:50:00,2022-01-01 08:00:00,2022-01-01 07:57:00,REALIZADO
6427,SBBE,VAL DE CANS,BELÉM,PA,BRASIL,ACN,5467,N,SBBE,SBSN,2022-01-03 02:40:00,2022-01-03 02:58:00,2022-01-03 05:15:00,2022-01-03 05:46:00,REALIZADO
6428,SBBE,VAL DE CANS,BELÉM,PA,BRASIL,ACN,5580,N,SBBE,SBMD,2022-01-03 10:20:00,2022-01-03 14:21:00,2022-01-03 12:05:00,2022-01-03 16:04:00,REALIZADO
6429,SBBE,VAL DE CANS,BELÉM,PA,BRASIL,ACN,5862,N,SBBE,SNVS,2022-01-03 07:00:00,2022-01-03 10:12:00,2022-01-03 08:00:00,2022-01-03 11:11:00,REALIZADO
6430,SBBE,VAL DE CANS,BELÉM,PA,BRASIL,ACN,5321,N,SBBE,SBMD,2022-01-04 10:20:00,2022-01-04 10:10:00,2022-01-04 12:05:00,2022-01-04 11:53:00,REALIZADO
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
799826,SNYA,ALMEIRIM,ALMEIRIM,PA,BRASIL,ACN,5580,N,SNYA,SBBE,2022-12-23 09:45:00,2022-12-23 09:30:00,2022-12-23 11:45:00,2022-12-23 11:15:00,REALIZADO
799827,SNYA,ALMEIRIM,ALMEIRIM,PA,BRASIL,ACN,5580,N,SNYA,SBBE,2022-12-26 09:45:00,2022-12-26 09:30:00,2022-12-26 11:45:00,2022-12-26 11:15:00,REALIZADO
799828,SNYA,ALMEIRIM,ALMEIRIM,PA,BRASIL,ACN,5580,N,SNYA,SBBE,2022-12-28 09:45:00,NaT,2022-12-28 11:45:00,NaT,CANCELADO
799829,SNYA,ALMEIRIM,ALMEIRIM,PA,BRASIL,ACN,5981,N,SNYA,SBBE,NaT,2022-12-28 13:47:00,NaT,2022-12-28 15:36:00,REALIZADO
799830,SNYA,ALMEIRIM,ALMEIRIM,PA,BRASIL,ACN,5580,N,SNYA,SBBE,2022-12-30 09:45:00,NaT,2022-12-30 11:45:00,NaT,CANCELADO

In [43]:
result.drop(['PAIS', 'SIGLA_OACI'], axis=1 , inplace=True)

In [44]:
result.head()

,DESCRICAO,CIDADE,UF,SIGLA_ICAO_EMPRESA_AEREA,NUMERO_VOO,CODIGO_TIPO_LINHA,SIGLA_ICAO_AEROPORTO_ORIGEM,SIGLA_ICAO_AEROPORTO_DESTINO,PARTIDA_PREVISTA,PARTIDA_REAL,CHEGADA_PREVISTA,CHEGADA_REAL,SITUACAO_VOO
0,BAURU/AREALVA,AREALVA,SP,AZU,2455,N,SBAE,SBPS,2022-01-02 00:05:00,2022-01-01 23:35:00,2022-01-02 02:00:00,2022-01-02 01:26:00,REALIZADO
1,BAURU/AREALVA,AREALVA,SP,AZU,2611,N,SBAE,SBKP,2022-01-02 19:40:00,2022-01-02 23:22:00,2022-01-02 20:35:00,2022-01-03 00:13:00,REALIZADO
2,BAURU/AREALVA,AREALVA,SP,AZU,4288,N,SBAE,SBKP,2022-01-03 05:35:00,2022-01-03 05:35:00,2022-01-03 06:30:00,2022-01-03 06:21:00,REALIZADO
3,BAURU/AREALVA,AREALVA,SP,AZU,4288,N,SBAE,SBKP,2022-01-04 05:35:00,2022-01-04 05:25:00,2022-01-04 06:30:00,2022-01-04 06:08:00,REALIZADO
4,BAURU/AREALVA,AREALVA,SP,AZU,4288,N,SBAE,SBKP,2022-01-05 05:35:00,2022-01-05 06:45:00,2022-01-05 06:30:00,2022-01-05 07:46:00,REALIZADO

In [45]:
result = result.rename(
    columns={
    'DESCRICAO': 'NOME_AEROPORTO_ORIGEM',
    'CIDADE': 'CIDADE_AEROPORTO_ORIGEM',
    'UF': 'UF_AEROPORTO_ORIGEM'
    }
) 
result.head()

,NOME_AEROPORTO_ORIGEM,CIDADE_AEROPORTO_ORIGEM,UF_AEROPORTO_ORIGEM,SIGLA_ICAO_EMPRESA_AEREA,NUMERO_VOO,CODIGO_TIPO_LINHA,SIGLA_ICAO_AEROPORTO_ORIGEM,SIGLA_ICAO_AEROPORTO_DESTINO,PARTIDA_PREVISTA,PARTIDA_REAL,CHEGADA_PREVISTA,CHEGADA_REAL,SITUACAO_VOO
0,BAURU/AREALVA,AREALVA,SP,AZU,2455,N,SBAE,SBPS,2022-01-02 00:05:00,2022-01-01 23:35:00,2022-01-02 02:00:00,2022-01-02 01:26:00,REALIZADO
1,BAURU/AREALVA,AREALVA,SP,AZU,2611,N,SBAE,SBKP,2022-01-02 19:40:00,2022-01-02 23:22:00,2022-01-02 20:35:00,2022-01-03 00:13:00,REALIZADO
2,BAURU/AREALVA,AREALVA,SP,AZU,4288,N,SBAE,SBKP,2022-01-03 05:35:00,2022-01-03 05:35:00,2022-01-03 06:30:00,2022-01-03 06:21:00,REALIZADO
3,BAURU/AREALVA,AREALVA,SP,AZU,4288,N,SBAE,SBKP,2022-01-04 05:35:00,2022-01-04 05:25:00,2022-01-04 06:30:00,2022-01-04 06:08:00,REALIZADO
4,BAURU/AREALVA,AREALVA,SP,AZU,4288,N,SBAE,SBKP,2022-01-05 05:35:00,2022-01-05 06:45:00,2022-01-05 06:30:00,2022-01-05 07:46:00,REALIZADO

- Aeroporto Destino

In [46]:
result = pd.merge(result, base_aerodromo, how='inner', left_on='SIGLA_ICAO_AEROPORTO_DESTINO', right_on='SIGLA_OACI')
result

,NOME_AEROPORTO_ORIGEM,CIDADE_AEROPORTO_ORIGEM,UF_AEROPORTO_ORIGEM,SIGLA_ICAO_EMPRESA_AEREA,NUMERO_VOO,CODIGO_TIPO_LINHA,SIGLA_ICAO_AEROPORTO_ORIGEM,SIGLA_ICAO_AEROPORTO_DESTINO,PARTIDA_PREVISTA,PARTIDA_REAL,CHEGADA_PREVISTA,CHEGADA_REAL,SITUACAO_VOO,SIGLA_OACI,DESCRICAO,CIDADE,UF,PAIS
0,BAURU/AREALVA,AREALVA,SP,AZU,2455,N,SBAE,SBPS,2022-01-02 00:05:00,2022-01-01 23:35:00,2022-01-02 02:00:00,2022-01-02 01:26:00,REALIZADO,SBPS,PORTO SEGURO,PORTO SEGURO,BA,BRASIL
1,BAURU/AREALVA,AREALVA,SP,AZU,2455,N,SBAE,SBPS,2022-01-09 01:00:00,2022-01-09 00:48:00,2022-01-09 03:00:00,2022-01-09 02:41:00,REALIZADO,SBPS,PORTO SEGURO,PORTO SEGURO,BA,BRASIL
2,BAURU/AREALVA,AREALVA,SP,AZU,2455,N,SBAE,SBPS,2022-01-23 11:05:00,2022-01-23 10:54:00,2022-01-23 13:05:00,2022-01-23 12:55:00,REALIZADO,SBPS,PORTO SEGURO,PORTO SEGURO,BA,BRASIL
3,BAURU/AREALVA,AREALVA,SP,AZU,2455,N,SBAE,SBPS,2022-01-30 11:05:00,2022-01-30 11:01:00,2022-01-30 13:05:00,2022-01-30 12:56:00,REALIZADO,SBPS,PORTO SEGURO,PORTO SEGURO,BA,BRASIL
4,BAURU/AREALVA,AREALVA,SP,AZU,2455,N,SBAE,SBPS,2022-02-26 23:00:00,2022-02-26 22:56:00,2022-02-27 01:00:00,2022-02-27 00:46:00,REALIZADO,SBPS,PORTO SEGURO,PORTO SEGURO,BA,BRASIL
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
745229,SÃO FÉLIX DO ARAGUAIA,SÃO FÉLIX DO ARAGUAIA,MT,ACN,5502,N,SWFX,SISO,NaT,2022-04-01 12:55:00,NaT,2022-04-01 13:38:00,REALIZADO,SISO,FAZENDA SANTO AMBROSIO,CHAVES,PA,BRASIL
745230,SÃO FÉLIX DO ARAGUAIA,SÃO FÉLIX DO ARAGUAIA,MT,ACN,5512,N,SWFX,SISO,NaT,2022-04-05 12:55:00,NaT,2022-04-05 13:33:00,REALIZADO,SISO,FAZENDA SANTO AMBROSIO,CHAVES,PA,BRASIL
745231,SÃO FÉLIX DO ARAGUAIA,SÃO FÉLIX DO ARAGUAIA,MT,ACN,5512,N,SWFX,SISO,NaT,2022-04-07 13:06:00,NaT,2022-04-07 13:48:00,REALIZADO,SISO,FAZENDA SANTO AMBROSIO,CHAVES,PA,BRASIL
745232,SÃO FÉLIX DO ARAGUAIA,SÃO FÉLIX DO ARAGUAIA,MT,ACN,5502,N,SWFX,SISO,NaT,2022-04-11 13:32:00,NaT,2022-04-11 14:13:00,REALIZADO,SISO,FAZENDA SANTO AMBROSIO,CHAVES,PA,BRASIL
745233,SÃO FÉLIX DO ARAGUAIA,SÃO FÉLIX DO ARAGUAIA,MT,ACN,5502,N,SWFX,SISO,NaT,2022-04-13 13:13:00,NaT,2022-04-13 13:56:00,REALIZADO,SISO,FAZENDA SANTO AMBROSIO,CHAVES,PA,BRASIL

In [47]:
result = result.rename(
    columns={
    'DESCRICAO': 'NOME_AEROPORTO_DESTINO',
    'CIDADE': 'CIDADE_AEROPORTO_DESTINO',
    'UF': 'UF_AEROPORTO_DESTINO'
    }
) 
result.drop('PAIS', axis=1, inplace=True)
result.head()

,NOME_AEROPORTO_ORIGEM,CIDADE_AEROPORTO_ORIGEM,UF_AEROPORTO_ORIGEM,SIGLA_ICAO_EMPRESA_AEREA,NUMERO_VOO,CODIGO_TIPO_LINHA,SIGLA_ICAO_AEROPORTO_ORIGEM,SIGLA_ICAO_AEROPORTO_DESTINO,PARTIDA_PREVISTA,PARTIDA_REAL,CHEGADA_PREVISTA,CHEGADA_REAL,SITUACAO_VOO,SIGLA_OACI,NOME_AEROPORTO_DESTINO,CIDADE_AEROPORTO_DESTINO,UF_AEROPORTO_DESTINO
0,BAURU/AREALVA,AREALVA,SP,AZU,2455,N,SBAE,SBPS,2022-01-02 00:05:00,2022-01-01 23:35:00,2022-01-02 02:00:00,2022-01-02 01:26:00,REALIZADO,SBPS,PORTO SEGURO,PORTO SEGURO,BA
1,BAURU/AREALVA,AREALVA,SP,AZU,2455,N,SBAE,SBPS,2022-01-09 01:00:00,2022-01-09 00:48:00,2022-01-09 03:00:00,2022-01-09 02:41:00,REALIZADO,SBPS,PORTO SEGURO,PORTO SEGURO,BA
2,BAURU/AREALVA,AREALVA,SP,AZU,2455,N,SBAE,SBPS,2022-01-23 11:05:00,2022-01-23 10:54:00,2022-01-23 13:05:00,2022-01-23 12:55:00,REALIZADO,SBPS,PORTO SEGURO,PORTO SEGURO,BA
3,BAURU/AREALVA,AREALVA,SP,AZU,2455,N,SBAE,SBPS,2022-01-30 11:05:00,2022-01-30 11:01:00,2022-01-30 13:05:00,2022-01-30 12:56:00,REALIZADO,SBPS,PORTO SEGURO,PORTO SEGURO,BA
4,BAURU/AREALVA,AREALVA,SP,AZU,2455,N,SBAE,SBPS,2022-02-26 23:00:00,2022-02-26 22:56:00,2022-02-27 01:00:00,2022-02-27 00:46:00,REALIZADO,SBPS,PORTO SEGURO,PORTO SEGURO,BA

-  junção com empresa

In [48]:
base_empresa = pd.read_excel('../data/raw/historico_voos/dicionario/glossario_de_empresas_aereas.xls', header=3, index_col=2)
base_empresa.head()

,Unnamed: 0,Sigla OACI,Unnamed: 3,Nacional ou Estrangeira
Nome Empresas,,,,
AMERICAN AIRLINES INC,NaN,AAL,NaN,ESTRANGEIRA
AIR ATLANTA ICELANDIC,NaN,ABD,NaN,ESTRANGEIRA
ABAETE,NaN,ABJ,NaN,BRASILEIRA
ATA BRASIL,NaN,ABZ,NaN,BRASILEIRA
AIR CANADA,NaN,ACA,NaN,ESTRANGEIRA

In [49]:
base_empresa.reset_index(inplace=True)

In [50]:
base_empresa = base_empresa.rename(columns={
    'Nome Empresas': 'NOME_EMPRESA',
    'Sigla OACI' : 'SIGLA_OACI',
    'Nacional ou Estrangeira': 'NACIONAL_OU_ESTRANGEIRA'
})
base_empresa.head()

,NOME_EMPRESA,Unnamed: 0,SIGLA_OACI,Unnamed: 3,NACIONAL_OU_ESTRANGEIRA
0,AMERICAN AIRLINES INC,NaN,AAL,NaN,ESTRANGEIRA
1,AIR ATLANTA ICELANDIC,NaN,ABD,NaN,ESTRANGEIRA
2,ABAETE,NaN,ABJ,NaN,BRASILEIRA
3,ATA BRASIL,NaN,ABZ,NaN,BRASILEIRA
4,AIR CANADA,NaN,ACA,NaN,ESTRANGEIRA

In [51]:
base_empresa.drop(['Unnamed: 0', 'Unnamed: 3'], axis=1, inplace=True)

In [52]:
base_empresa.head()

            NOME_EMPRESA SIGLA_OACI NACIONAL_OU_ESTRANGEIRA
0  AMERICAN AIRLINES INC        AAL             ESTRANGEIRA
1  AIR ATLANTA ICELANDIC        ABD             ESTRANGEIRA
2                 ABAETE        ABJ              BRASILEIRA
3             ATA BRASIL        ABZ              BRASILEIRA
4             AIR CANADA        ACA             ESTRANGEIRA

In [53]:
result = pd.merge(result, base_empresa, how='inner', left_on='SIGLA_ICAO_EMPRESA_AEREA', right_on='SIGLA_OACI')
result.head()

,NOME_AEROPORTO_ORIGEM,CIDADE_AEROPORTO_ORIGEM,UF_AEROPORTO_ORIGEM,SIGLA_ICAO_EMPRESA_AEREA,NUMERO_VOO,CODIGO_TIPO_LINHA,SIGLA_ICAO_AEROPORTO_ORIGEM,SIGLA_ICAO_AEROPORTO_DESTINO,PARTIDA_PREVISTA,PARTIDA_REAL,CHEGADA_PREVISTA,CHEGADA_REAL,SITUACAO_VOO,SIGLA_OACI_x,NOME_AEROPORTO_DESTINO,CIDADE_AEROPORTO_DESTINO,UF_AEROPORTO_DESTINO,NOME_EMPRESA,SIGLA_OACI_y,NACIONAL_OU_ESTRANGEIRA
0,BAURU/AREALVA,AREALVA,SP,AZU,2455,N,SBAE,SBPS,2022-01-02 00:05:00,2022-01-01 23:35:00,2022-01-02 02:00:00,2022-01-02 01:26:00,REALIZADO,SBPS,PORTO SEGURO,PORTO SEGURO,BA,AZUL,AZU,BRASILEIRA
1,BAURU/AREALVA,AREALVA,SP,AZU,2455,N,SBAE,SBPS,2022-01-09 01:00:00,2022-01-09 00:48:00,2022-01-09 03:00:00,2022-01-09 02:41:00,REALIZADO,SBPS,PORTO SEGURO,PORTO SEGURO,BA,AZUL,AZU,BRASILEIRA
2,BAURU/AREALVA,AREALVA,SP,AZU,2455,N,SBAE,SBPS,2022-01-23 11:05:00,2022-01-23 10:54:00,2022-01-23 13:05:00,2022-01-23 12:55:00,REALIZADO,SBPS,PORTO SEGURO,PORTO SEGURO,BA,AZUL,AZU,BRASILEIRA
3,BAURU/AREALVA,AREALVA,SP,AZU,2455,N,SBAE,SBPS,2022-01-30 11:05:00,2022-01-30 11:01:00,2022-01-30 13:05:00,2022-01-30 12:56:00,REALIZADO,SBPS,PORTO SEGURO,PORTO SEGURO,BA,AZUL,AZU,BRASILEIRA
4,BAURU/AREALVA,AREALVA,SP,AZU,2455,N,SBAE,SBPS,2022-02-26 23:00:00,2022-02-26 22:56:00,2022-02-27 01:00:00,2022-02-27 00:46:00,REALIZADO,SBPS,PORTO SEGURO,PORTO SEGURO,BA,AZUL,AZU,BRASILEIRA

In [54]:
result.drop(['SIGLA_OACI_y', 'NACIONAL_OU_ESTRANGEIRA'], axis=1, inplace=True)

In [55]:
result.head()

,NOME_AEROPORTO_ORIGEM,CIDADE_AEROPORTO_ORIGEM,UF_AEROPORTO_ORIGEM,SIGLA_ICAO_EMPRESA_AEREA,NUMERO_VOO,CODIGO_TIPO_LINHA,SIGLA_ICAO_AEROPORTO_ORIGEM,SIGLA_ICAO_AEROPORTO_DESTINO,PARTIDA_PREVISTA,PARTIDA_REAL,CHEGADA_PREVISTA,CHEGADA_REAL,SITUACAO_VOO,SIGLA_OACI_x,NOME_AEROPORTO_DESTINO,CIDADE_AEROPORTO_DESTINO,UF_AEROPORTO_DESTINO,NOME_EMPRESA
0,BAURU/AREALVA,AREALVA,SP,AZU,2455,N,SBAE,SBPS,2022-01-02 00:05:00,2022-01-01 23:35:00,2022-01-02 02:00:00,2022-01-02 01:26:00,REALIZADO,SBPS,PORTO SEGURO,PORTO SEGURO,BA,AZUL
1,BAURU/AREALVA,AREALVA,SP,AZU,2455,N,SBAE,SBPS,2022-01-09 01:00:00,2022-01-09 00:48:00,2022-01-09 03:00:00,2022-01-09 02:41:00,REALIZADO,SBPS,PORTO SEGURO,PORTO SEGURO,BA,AZUL
2,BAURU/AREALVA,AREALVA,SP,AZU,2455,N,SBAE,SBPS,2022-01-23 11:05:00,2022-01-23 10:54:00,2022-01-23 13:05:00,2022-01-23 12:55:00,REALIZADO,SBPS,PORTO SEGURO,PORTO SEGURO,BA,AZUL
3,BAURU/AREALVA,AREALVA,SP,AZU,2455,N,SBAE,SBPS,2022-01-30 11:05:00,2022-01-30 11:01:00,2022-01-30 13:05:00,2022-01-30 12:56:00,REALIZADO,SBPS,PORTO SEGURO,PORTO SEGURO,BA,AZUL
4,BAURU/AREALVA,AREALVA,SP,AZU,2455,N,SBAE,SBPS,2022-02-26 23:00:00,2022-02-26 22:56:00,2022-02-27 01:00:00,2022-02-27 00:46:00,REALIZADO,SBPS,PORTO SEGURO,PORTO SEGURO,BA,AZUL

In [56]:
result = result.rename(
    columns={
        'SIGLA_OACI_x': 'SIGLA_OACI'
    }
)
result

,NOME_AEROPORTO_ORIGEM,CIDADE_AEROPORTO_ORIGEM,UF_AEROPORTO_ORIGEM,SIGLA_ICAO_EMPRESA_AEREA,NUMERO_VOO,CODIGO_TIPO_LINHA,SIGLA_ICAO_AEROPORTO_ORIGEM,SIGLA_ICAO_AEROPORTO_DESTINO,PARTIDA_PREVISTA,PARTIDA_REAL,CHEGADA_PREVISTA,CHEGADA_REAL,SITUACAO_VOO,SIGLA_OACI,NOME_AEROPORTO_DESTINO,CIDADE_AEROPORTO_DESTINO,UF_AEROPORTO_DESTINO,NOME_EMPRESA
0,BAURU/AREALVA,AREALVA,SP,AZU,2455,N,SBAE,SBPS,2022-01-02 00:05:00,2022-01-01 23:35:00,2022-01-02 02:00:00,2022-01-02 01:26:00,REALIZADO,SBPS,PORTO SEGURO,PORTO SEGURO,BA,AZUL
1,BAURU/AREALVA,AREALVA,SP,AZU,2455,N,SBAE,SBPS,2022-01-09 01:00:00,2022-01-09 00:48:00,2022-01-09 03:00:00,2022-01-09 02:41:00,REALIZADO,SBPS,PORTO SEGURO,PORTO SEGURO,BA,AZUL
2,BAURU/AREALVA,AREALVA,SP,AZU,2455,N,SBAE,SBPS,2022-01-23 11:05:00,2022-01-23 10:54:00,2022-01-23 13:05:00,2022-01-23 12:55:00,REALIZADO,SBPS,PORTO SEGURO,PORTO SEGURO,BA,AZUL
3,BAURU/AREALVA,AREALVA,SP,AZU,2455,N,SBAE,SBPS,2022-01-30 11:05:00,2022-01-30 11:01:00,2022-01-30 13:05:00,2022-01-30 12:56:00,REALIZADO,SBPS,PORTO SEGURO,PORTO SEGURO,BA,AZUL
4,BAURU/AREALVA,AREALVA,SP,AZU,2455,N,SBAE,SBPS,2022-02-26 23:00:00,2022-02-26 22:56:00,2022-02-27 01:00:00,2022-02-27 00:46:00,REALIZADO,SBPS,PORTO SEGURO,PORTO SEGURO,BA,AZUL
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
717352,DEPUTADO LUÍS EDUARDO MAGALHÃES,SALVADOR,BA,ABJ,1416,N,SBSV,SIRI,NaT,2022-12-15 14:34:00,NaT,2022-12-15 15:10:00,REALIZADO,SIRI,BARRA GRANDE,Maraú,BA,ABAETE
717353,DEPUTADO LUÍS EDUARDO MAGALHÃES,SALVADOR,BA,ABJ,1416,N,SBSV,SIRI,2022-12-18 15:35:00,2022-12-18 15:41:00,2022-12-18 16:15:00,2022-12-18 16:14:00,REALIZADO,SIRI,BARRA GRANDE,Maraú,BA,ABAETE
717354,DEPUTADO LUÍS EDUARDO MAGALHÃES,SALVADOR,BA,ABJ,1416,N,SBSV,SIRI,NaT,2022-12-22 14:46:00,NaT,2022-12-22 15:18:00,REALIZADO,SIRI,BARRA GRANDE,Maraú,BA,ABAETE
717355,DEPUTADO LUÍS EDUARDO MAGALHÃES,SALVADOR,BA,ABJ,1416,N,SBSV,SIRI,2022-12-25 15:35:00,2022-12-25 15:11:00,2022-12-25 16:15:00,2022-12-25 15:42:00,REALIZADO,SIRI,BARRA GRANDE,Maraú,BA,ABAETE
717356,DEPUTADO LUÍS EDUARDO MAGALHÃES,SALVADOR,BA,ABJ,1416,N,SBSV,SIRI,NaT,2022-12-29 15:06:00,NaT,2022-12-29 15:40:00,REALIZADO,SIRI,BARRA GRANDE,Maraú,BA,ABAETE

In [57]:
result.columns

Index(['NOME_AEROPORTO_ORIGEM', 'CIDADE_AEROPORTO_ORIGEM',
       'UF_AEROPORTO_ORIGEM', 'SIGLA_ICAO_EMPRESA_AEREA', 'NUMERO_VOO',
       'CODIGO_TIPO_LINHA', 'SIGLA_ICAO_AEROPORTO_ORIGEM',
       'SIGLA_ICAO_AEROPORTO_DESTINO', 'PARTIDA_PREVISTA', 'PARTIDA_REAL',
       'CHEGADA_PREVISTA', 'CHEGADA_REAL', 'SITUACAO_VOO', 'SIGLA_OACI',
       'NOME_AEROPORTO_DESTINO', 'CIDADE_AEROPORTO_DESTINO',
       'UF_AEROPORTO_DESTINO', 'NOME_EMPRESA'],
      dtype='object')

In [58]:
result.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 717357 entries, 0 to 717356
Data columns (total 18 columns):
 #   Column                        Non-Null Count   Dtype
---  ------                        --------------   -----
 0   NOME_AEROPORTO_ORIGEM         717357 non-null  object
 1   CIDADE_AEROPORTO_ORIGEM       717357 non-null  object
 2   UF_AEROPORTO_ORIGEM           717357 non-null  object
 3   SIGLA_ICAO_EMPRESA_AEREA      717357 non-null  object
 4   NUMERO_VOO                    717357 non-null  string
 5   CODIGO_TIPO_LINHA             717355 non-null  string
 6   SIGLA_ICAO_AEROPORTO_ORIGEM   717357 non-null  string
 7   SIGLA_ICAO_AEROPORTO_DESTINO  717357 non-null  object
 8   PARTIDA_PREVISTA              698479 non-null  datetime64[ns]
 9   PARTIDA_REAL                  697305 non-null  datetime64[ns]
 10  CHEGADA_PREVISTA              698479 non-null  datetime64[ns]
 11  CHEGADA_REAL                  697305 non-null  datetime64[ns]
 12  SITUACAO_VOO                  717357 non-null  string
 13  SIGLA_OACI                    717357 non-null  object
 14  NOME_AEROPORTO_DESTINO        717357 non-null  object
 15  CIDADE_AEROPORTO_DESTINO      717357 non-null  object
 16  UF_AEROPORTO_DESTINO          717357 non-null  object
 17  NOME_EMPRESA                  717357 non-null  object
dtypes: datetime64[ns](4), object(10), string(4)
memory usage: 98.5+ MB

In [59]:
colunas_data = ['PARTIDA_PREVISTA', 'PARTIDA_REAL', 'CHEGADA_PREVISTA', 'CHEGADA_REAL']

In [60]:
for coluna_data in colunas_data:
    result[coluna_data].fillna('1900-01-01', inplace=True)
    result[f'MES_{coluna_data}'] = pd.to_datetime(result[coluna_data]).dt.month
    result[f'NOME_MES_{coluna_data}'] = pd.to_datetime(result[coluna_data]).dt.strftime('%B')

In [61]:
result['MINUTOS_ATRASADO_PARTIDA'] = ( pd.to_datetime(result['PARTIDA_REAL']) -  pd.to_datetime(result['PARTIDA_PREVISTA']) ).dt.total_seconds() / 60
result['MINUTOS_ATRASADO_CHEGADA'] = (pd.to_datetime(result['CHEGADA_REAL']) - pd.to_datetime(result['CHEGADA_PREVISTA']) ).dt.total_seconds() / 60

In [62]:
result.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 717357 entries, 0 to 717356
Data columns (total 28 columns):
 #   Column                        Non-Null Count   Dtype
---  ------                        --------------   -----
 0   NOME_AEROPORTO_ORIGEM         717357 non-null  object
 1   CIDADE_AEROPORTO_ORIGEM       717357 non-null  object
 2   UF_AEROPORTO_ORIGEM           717357 non-null  object
 3   SIGLA_ICAO_EMPRESA_AEREA      717357 non-null  object
 4   NUMERO_VOO                    717357 non-null  string
 5   CODIGO_TIPO_LINHA             717355 non-null  string
 6   SIGLA_ICAO_AEROPORTO_ORIGEM   717357 non-null  string
 7   SIGLA_ICAO_AEROPORTO_DESTINO  717357 non-null  object
 8   PARTIDA_PREVISTA              717357 non-null  datetime64[ns]
 9   PARTIDA_REAL                  717357 non-null  datetime64[ns]
 10  CHEGADA_PREVISTA              717357 non-null  datetime64[ns]
 11  CHEGADA_REAL                  717357 non-null  datetime64[ns]
 12  SITUACAO_VOO                  717357 non-null  string
 13  SIGLA_OACI                    717357 non-null  object
 14  NOME_AEROPORTO_DESTINO        717357 non-null  object
 15  CIDADE_AEROPORTO_DESTINO      717357 non-null  object
 16  UF_AEROPORTO_DESTINO          717357 non-null  object
 17  NOME_EMPRESA                  717357 non-null  object
 18  MES_PARTIDA_PREVISTA          717357 non-null  int32
 19  NOME_MES_PARTIDA_PREVISTA     717357 non-null  object
 20  MES_PARTIDA_REAL              717357 non-null  int32
 21  NOME_MES_PARTIDA_REAL         717357 non-null  object
 22  MES_CHEGADA_PREVISTA          717357 non-null  int32
 23  NOME_MES_CHEGADA_PREVISTA     717357 non-null  object
 24  MES_CHEGADA_REAL              717357 non-null  int32
 25  NOME_MES_CHEGADA_REAL         717357 non-null  object
 26  MINUTOS_ATRASADO_PARTIDA      717357 non-null  float64
 27  MINUTOS_ATRASADO_CHEGADA      717357 non-null  float64
dtypes: datetime64[ns](4), float64(2), int32(4), object(14), string(4)
memory usage: 142.3+ MB

In [63]:
result.to_csv('../data/processed/df_processed.csv', encoding='utf-8', sep='|')

In [64]:
memory_mb = result.memory_usage(deep=True).sum() / (1024 * 1024)
print(f"Uso de memória total: {memory_mb:.2f} MB")

Uso de memória total: 857.37 MB