In [221]:
import pandas as pd

In [222]:
caminho = '../data/processed/df_final.csv'

In [223]:
base = pd.read_csv(caminho, encoding='utf-8', sep='|')

/tmp/ipykernel_296795/2494532192.py:1: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  base = pd.read_csv(caminho, encoding='utf-8', sep='|')

In [224]:
base.columns

Index(['Unnamed: 0.1', 'Unnamed: 0', 'NOME_AEROPORTO_ORIGEM',
       'CIDADE_AEROPORTO_ORIGEM', 'UF_AEROPORTO_ORIGEM',
       'SIGLA_ICAO_EMPRESA_AEREA', 'NUMERO_VOO', 'CODIGO_TIPO_LINHA',
       'SIGLA_ICAO_AEROPORTO_ORIGEM', 'SIGLA_ICAO_AEROPORTO_DESTINO',
       'PARTIDA_PREVISTA', 'PARTIDA_REAL', 'CHEGADA_PREVISTA', 'CHEGADA_REAL',
       'SITUACAO_VOO', 'SIGLA_OACI', 'NOME_AEROPORTO_DESTINO',
       'CIDADE_AEROPORTO_DESTINO', 'UF_AEROPORTO_DESTINO', 'NOME_EMPRESA',
       'MES_PARTIDA_PREVISTA', 'NOME_MES_PARTIDA_PREVISTA', 'MES_PARTIDA_REAL',
       'NOME_MES_PARTIDA_REAL', 'MES_CHEGADA_PREVISTA',
       'NOME_MES_CHEGADA_PREVISTA', 'MES_CHEGADA_REAL',
       'NOME_MES_CHEGADA_REAL', 'MINUTOS_ATRASADO_PARTIDA',
       'MINUTOS_ATRASADO_CHEGADA', 'DIA_DA_SEMANA_PARTIDA_PREVISTA',
       'INDICE_SEMANA_PARTIDA_PREVISTA', 'DIA_DA_SEMANA_PARTIDA_REAL',
       'INDICE_SEMANA_PARTIDA_REAL', 'DIA_DA_SEMANA_CHEGADA_REAL',
       'DIA_DA_SEMANA_CHEGADA_PREVISTA', 'INDICE_SEMANA_CHEGADA_REAL',
       'INDICE_SEMANA_CHEGADA_PREVISTA', 'FAIXA_ATRASO_PARTIDA',
       'FAIXA_ATRASO_CHEGADA'],
      dtype='object')

In [225]:
base.head()

,Unnamed: 0.1,Unnamed: 0,NOME_AEROPORTO_ORIGEM,CIDADE_AEROPORTO_ORIGEM,UF_AEROPORTO_ORIGEM,SIGLA_ICAO_EMPRESA_AEREA,NUMERO_VOO,CODIGO_TIPO_LINHA,SIGLA_ICAO_AEROPORTO_ORIGEM,SIGLA_ICAO_AEROPORTO_DESTINO,...,DIA_DA_SEMANA_PARTIDA_PREVISTA,INDICE_SEMANA_PARTIDA_PREVISTA,DIA_DA_SEMANA_PARTIDA_REAL,INDICE_SEMANA_PARTIDA_REAL,DIA_DA_SEMANA_CHEGADA_REAL,DIA_DA_SEMANA_CHEGADA_PREVISTA,INDICE_SEMANA_CHEGADA_REAL,INDICE_SEMANA_CHEGADA_PREVISTA,FAIXA_ATRASO_PARTIDA,FAIXA_ATRASO_CHEGADA
0,0,0,BAURU/AREALVA,AREALVA,SP,AZU,2455,N,SBAE,SBPS,...,Domingo,6,Sábado,5,Domingo,Domingo,6,6,No horário,No horário
1,1,1,BAURU/AREALVA,AREALVA,SP,AZU,2455,N,SBAE,SBPS,...,Domingo,6,Domingo,6,Domingo,Domingo,6,6,No horário,No horário
2,2,2,BAURU/AREALVA,AREALVA,SP,AZU,2455,N,SBAE,SBPS,...,Domingo,6,Domingo,6,Domingo,Domingo,6,6,No horário,No horário
3,3,3,BAURU/AREALVA,AREALVA,SP,AZU,2455,N,SBAE,SBPS,...,Domingo,6,Domingo,6,Domingo,Domingo,6,6,No horário,No horário
4,4,4,BAURU/AREALVA,AREALVA,SP,AZU,2455,N,SBAE,SBPS,...,Sábado,5,Sábado,5,Domingo,Domingo,6,6,No horário,No horário

In [226]:
base['SIGLA_ICAO_EMPRESA_AEREA'].value_counts()

SIGLA_ICAO_EMPRESA_AEREA
AZU    282255
TAM    211680
GLO    196739
PTB     14369
PAM      5090
TTL      2914
MWM      1503
LTG      1403
CLX       308
TAP       246
GEC       214
TPA       207
LAE       181
ABJ       100
LCO        69
LAN        38
GTI         9
LPE         8
ARG         6
LAP         3
DLH         2
AAL         2
AFR         2
BAW         2
RZO         1
CKS         1
UPS         1
AVA         1
QTR         1
KLM         1
AEA         1
Name: count, dtype: int64

- Situação Vôo

In [227]:
tipos = {
    'SIGLA_ICAO_EMPRESA_AEREA': 'string',
    'SITUACAO_VOO': 'string',
    'MES_PARTIDA_PREVISTA': 'int32',
    'NOME_MES_PARTIDA_PREVISTA': 'string'
}
colunas = ['SIGLA_ICAO_EMPRESA_AEREA', 'SITUACAO_VOO', 'MES_PARTIDA_PREVISTA', 'NOME_MES_PARTIDA_PREVISTA']
teste = pd.read_csv(caminho, encoding='utf-8', sep='|', usecols=colunas, dtype=tipos)

In [228]:
teste.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 717357 entries, 0 to 717356
Data columns (total 4 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   SIGLA_ICAO_EMPRESA_AEREA   717357 non-null  string
 1   SITUACAO_VOO               717357 non-null  string
 2   MES_PARTIDA_PREVISTA       717357 non-null  int32
 3   NOME_MES_PARTIDA_PREVISTA  717357 non-null  string
dtypes: int32(1), string(3)
memory usage: 19.2 MB

In [229]:
teste.head()

,SIGLA_ICAO_EMPRESA_AEREA,SITUACAO_VOO,MES_PARTIDA_PREVISTA,NOME_MES_PARTIDA_PREVISTA
0,AZU,REALIZADO,1,janeiro
1,AZU,REALIZADO,1,janeiro
2,AZU,REALIZADO,1,janeiro
3,AZU,REALIZADO,1,janeiro
4,AZU,REALIZADO,2,fevereiro

In [230]:
total = base.query(
    'SIGLA_ICAO_EMPRESA_AEREA == "TAM"  ' \
    ' and SIGLA_ICAO_AEROPORTO_ORIGEM == "SBRP"'\
    ' and MES_PARTIDA_PREVISTA in [11,12] '
)
total

,Unnamed: 0.1,Unnamed: 0,NOME_AEROPORTO_ORIGEM,CIDADE_AEROPORTO_ORIGEM,UF_AEROPORTO_ORIGEM,SIGLA_ICAO_EMPRESA_AEREA,NUMERO_VOO,CODIGO_TIPO_LINHA,SIGLA_ICAO_AEROPORTO_ORIGEM,SIGLA_ICAO_AEROPORTO_DESTINO,...,DIA_DA_SEMANA_PARTIDA_PREVISTA,INDICE_SEMANA_PARTIDA_PREVISTA,DIA_DA_SEMANA_PARTIDA_REAL,INDICE_SEMANA_PARTIDA_REAL,DIA_DA_SEMANA_CHEGADA_REAL,DIA_DA_SEMANA_CHEGADA_PREVISTA,INDICE_SEMANA_CHEGADA_REAL,INDICE_SEMANA_CHEGADA_PREVISTA,FAIXA_ATRASO_PARTIDA,FAIXA_ATRASO_CHEGADA
537999,537999,537999,LEITE LOPES,RIBEIRÃO PRETO,SP,TAM,3433,N,SBRP,SBGR,...,Terça-feira,1,Terça-feira,1,Terça-feira,Terça-feira,1,1,No horário,No horário
538000,538000,538000,LEITE LOPES,RIBEIRÃO PRETO,SP,TAM,3433,N,SBRP,SBGR,...,Quarta-feira,2,Quarta-feira,2,Quarta-feira,Quarta-feira,2,2,No horário,No horário
538001,538001,538001,LEITE LOPES,RIBEIRÃO PRETO,SP,TAM,3867,N,SBRP,SBGR,...,Quarta-feira,2,Quarta-feira,2,Quarta-feira,Quarta-feira,2,2,No horário,Atraso de até 1 hora
538002,538002,538002,LEITE LOPES,RIBEIRÃO PRETO,SP,TAM,3433,N,SBRP,SBGR,...,Quinta-feira,3,Quinta-feira,3,Quinta-feira,Quinta-feira,3,3,No horário,No horário
538003,538003,538003,LEITE LOPES,RIBEIRÃO PRETO,SP,TAM,3867,N,SBRP,SBGR,...,Quinta-feira,3,Quinta-feira,3,Quinta-feira,Quinta-feira,3,3,No horário,No horário
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
538109,538109,538109,LEITE LOPES,RIBEIRÃO PRETO,SP,TAM,3433,N,SBRP,SBGR,...,Quinta-feira,3,Quinta-feira,3,Quinta-feira,Quinta-feira,3,3,No horário,Atraso de até 30 minutos
538111,538111,538111,LEITE LOPES,RIBEIRÃO PRETO,SP,TAM,3867,N,SBRP,SBGR,...,Quinta-feira,3,Quinta-feira,3,Quinta-feira,Quinta-feira,3,3,No horário,No horário
538112,538112,538112,LEITE LOPES,RIBEIRÃO PRETO,SP,TAM,3433,N,SBRP,SBGR,...,Sexta-feira,4,Sexta-feira,4,Sexta-feira,Sexta-feira,4,4,No horário,No horário
538113,538113,538113,LEITE LOPES,RIBEIRÃO PRETO,SP,TAM,3867,N,SBRP,SBGR,...,Sexta-feira,4,Sexta-feira,4,Sexta-feira,Sexta-feira,4,4,No horário,No horário
538114,538114,538114,LEITE LOPES,RIBEIRÃO PRETO,SP,TAM,3867,N,SBRP,SBGR,...,Sábado,5,Sábado,5,Sábado,Sábado,5,5,No horário,Atraso de até 30 minutos

In [231]:
total = base.query(
    'SIGLA_ICAO_EMPRESA_AEREA == "TAM"  ' \
    ' and SIGLA_ICAO_AEROPORTO_ORIGEM == "SBRP"'\
    ' and MES_PARTIDA_PREVISTA in [11] '
)[
    [
        'NOME_MES_PARTIDA_PREVISTA',
        'SIGLA_ICAO_EMPRESA_AEREA', 
        'MES_PARTIDA_PREVISTA',
        'SITUACAO_VOO'
    ]
].value_counts()
# teste = base.query('SIGLA_ICAO_EMPRESA_AEREA == "TAP"')[['SIGLA_ICAO_EMPRESA_AEREA', 'SITUACAO_VOO']].value_counts( normalize=True) * 100
total

NOME_MES_PARTIDA_PREVISTA  SIGLA_ICAO_EMPRESA_AEREA  MES_PARTIDA_PREVISTA  SITUACAO_VOO
novembro                   TAM                       11                    REALIZADO       53
                                                                           CANCELADO        2
Name: count, dtype: int64

In [232]:
percentual = base.query(
    'SIGLA_ICAO_EMPRESA_AEREA == "TAM"  ' \
    ' and SIGLA_ICAO_AEROPORTO_ORIGEM == "SBRP"' \
    ' and MES_PARTIDA_PREVISTA in [11]  '
    )[
        [
            'NOME_MES_PARTIDA_PREVISTA',
            'SIGLA_ICAO_EMPRESA_AEREA', 
            'MES_PARTIDA_PREVISTA',
            'SITUACAO_VOO'
        ]
    ].value_counts( normalize=True) * 100
percentual

NOME_MES_PARTIDA_PREVISTA  SIGLA_ICAO_EMPRESA_AEREA  MES_PARTIDA_PREVISTA  SITUACAO_VOO
novembro                   TAM                       11                    REALIZADO       96.363636
                                                                           CANCELADO        3.636364
Name: proportion, dtype: float64

In [233]:
df_resultado = pd.concat([total, percentual], axis=1).reset_index()
df_resultado

,NOME_MES_PARTIDA_PREVISTA,SIGLA_ICAO_EMPRESA_AEREA,MES_PARTIDA_PREVISTA,SITUACAO_VOO,count,proportion
0,novembro,TAM,11,REALIZADO,53,96.363636
1,novembro,TAM,11,CANCELADO,2,3.636364

In [234]:
df_resultado.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2 entries, 0 to 1
Data columns (total 6 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   NOME_MES_PARTIDA_PREVISTA  2 non-null      object
 1   SIGLA_ICAO_EMPRESA_AEREA   2 non-null      object
 2   MES_PARTIDA_PREVISTA       2 non-null      int64
 3   SITUACAO_VOO               2 non-null      object
 4   count                      2 non-null      int64
 5   proportion                 2 non-null      float64
dtypes: float64(1), int64(2), object(3)
memory usage: 224.0+ bytes

In [235]:
df_resultado[
    [
        'SIGLA_ICAO_EMPRESA_AEREA', 
        'SITUACAO_VOO',
        'NOME_MES_PARTIDA_PREVISTA'
    ]
] = df_resultado[[
        'SIGLA_ICAO_EMPRESA_AEREA', 
        'SITUACAO_VOO',
        'NOME_MES_PARTIDA_PREVISTA'
    ]].astype('string')

In [236]:
df_resultado['count'] = df_resultado['count'].astype('int32')
df_resultado['proportion'] = df_resultado['proportion'].astype('float32')

In [237]:
df_resultado.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2 entries, 0 to 1
Data columns (total 6 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   NOME_MES_PARTIDA_PREVISTA  2 non-null      string
 1   SIGLA_ICAO_EMPRESA_AEREA   2 non-null      string
 2   MES_PARTIDA_PREVISTA       2 non-null      int64
 3   SITUACAO_VOO               2 non-null      string
 4   count                      2 non-null      int32
 5   proportion                 2 non-null      float32
dtypes: float32(1), int32(1), int64(1), string(3)
memory usage: 208.0 bytes

- Desempenho da Situação do Voo

In [238]:
tipos = {
    'SIGLA_ICAO_EMPRESA_AEREA': 'string',
    'SITUACAO_VOO': 'string',
    'MES_PARTIDA_PREVISTA': 'int32',
    'NOME_MES_PARTIDA_PREVISTA': 'string',
    'SIGLA_ICAO_AEROPORTO_ORIGEM': 'string'
}
colunas = ['SIGLA_ICAO_EMPRESA_AEREA', 'SITUACAO_VOO', 'MES_PARTIDA_PREVISTA', 'NOME_MES_PARTIDA_PREVISTA', 'SIGLA_ICAO_AEROPORTO_ORIGEM']
teste = pd.read_csv(caminho, encoding='utf-8', sep='|', usecols=colunas, dtype=tipos)

In [239]:
teste = teste.query('SIGLA_ICAO_EMPRESA_AEREA == "TAM"  ' \
            ' and SIGLA_ICAO_AEROPORTO_ORIGEM == "SBRP"'
            ' and SITUACAO_VOO == "REALIZADO" ' )
teste.head()

,SIGLA_ICAO_EMPRESA_AEREA,SIGLA_ICAO_AEROPORTO_ORIGEM,SITUACAO_VOO,MES_PARTIDA_PREVISTA,NOME_MES_PARTIDA_PREVISTA
488380,TAM,SBRP,REALIZADO,1,janeiro
488381,TAM,SBRP,REALIZADO,1,janeiro
537779,TAM,SBRP,REALIZADO,1,janeiro
537780,TAM,SBRP,REALIZADO,1,janeiro
537781,TAM,SBRP,REALIZADO,1,janeiro

In [240]:
teste_gb = teste.groupby(['MES_PARTIDA_PREVISTA', 'SITUACAO_VOO']).agg(
    TOTAL_SITUACAO=('SITUACAO_VOO', 'count')
)
teste_gb.sort_values(by=['MES_PARTIDA_PREVISTA'], inplace=True)
teste_gb.reset_index(inplace=True)
teste_gb

    MES_PARTIDA_PREVISTA SITUACAO_VOO  TOTAL_SITUACAO
0                      1    REALIZADO              41
1                      2    REALIZADO              20
2                      3    REALIZADO              23
3                      4    REALIZADO              21
4                      5    REALIZADO              20
5                      6    REALIZADO              22
6                      7    REALIZADO              21
7                      8    REALIZADO              23
8                      9    REALIZADO              23
9                     10    REALIZADO              24
10                    11    REALIZADO              53
11                    12    REALIZADO              54

- Total de Vôos por aeroporto

In [241]:
tipos = {
    'NOME_AEROPORTO_ORIGEM': 'string',
    'MES_PARTIDA_PREVISTA': 'int32',
    'NOME_MES_PARTIDA_PREVISTA': 'string',
    'SIGLA_ICAO_AEROPORTO_ORIGEM' : 'string'

}
colunas = ['NOME_AEROPORTO_ORIGEM', 'MES_PARTIDA_PREVISTA', 'NOME_MES_PARTIDA_PREVISTA', 'SIGLA_ICAO_AEROPORTO_ORIGEM']
teste = pd.read_csv(caminho, encoding='utf-8', sep='|', usecols=colunas, dtype=tipos)

In [242]:
teste.query('SIGLA_ICAO_AEROPORTO_ORIGEM == "SBRP"')

,NOME_AEROPORTO_ORIGEM,SIGLA_ICAO_AEROPORTO_ORIGEM,MES_PARTIDA_PREVISTA,NOME_MES_PARTIDA_PREVISTA
1929,LEITE LOPES,SBRP,1,janeiro
1930,LEITE LOPES,SBRP,1,janeiro
1931,LEITE LOPES,SBRP,1,janeiro
1932,LEITE LOPES,SBRP,1,janeiro
1933,LEITE LOPES,SBRP,1,janeiro
...,...,...,...,...
707275,LEITE LOPES,SBRP,1,janeiro
707479,LEITE LOPES,SBRP,1,janeiro
707480,LEITE LOPES,SBRP,1,janeiro
707481,LEITE LOPES,SBRP,1,janeiro
710551,LEITE LOPES,SBRP,1,janeiro

In [243]:
total_voos =teste.groupby(['MES_PARTIDA_PREVISTA', 'NOME_MES_PARTIDA_PREVISTA']).agg(
    TOTAL_VOOS=('NOME_AEROPORTO_ORIGEM', 'count')
)
total_voos.reset_index(inplace=True)

In [244]:
total_voos

    MES_PARTIDA_PREVISTA NOME_MES_PARTIDA_PREVISTA  TOTAL_VOOS
0                      1                   janeiro       78523
1                      2                 fevereiro       46597
2                      3                     março       54542
3                      4                     abril       52739
4                      5                      maio       58631
5                      6                     junho       55320
6                      7                     julho       63666
7                      8                    agosto       60677
8                      9                  setembro       58683
9                     10                   outubro       61976
10                    11                  novembro       60523
11                    12                  dezembro       65480

- Total de Vôos por compania e aeroporto por mês

- Analise da variação percentual da SITUAÇÂO voo Filtrando por Aerporto origem por mês

- Compare total de vôos realizado no fim de semana em relação por dia útil por mês

<p> - Analise a FAIXA_ATRASO_PARTIDA por aeroporto e empresa por dia de semana e por mês </p>
<p> O volume de atraso no fim de semana, é maior ou menor em relação ao dia atual</p>
<p> Pode ser análisado a incidencia por aeroporto também</p>
<p>Detalhe por semana também</p>
<p>Eu tenho 3000 vôos que partiram no horário 50%(1500) da empresa A e 50% da empresa B</p>

<p> - Analise a FAIXA_ATRASO_CHEGADA por aeroporto e empresa por dia de semana e por mês </p>
<p> O volume de atraso no fim de semana, é maior ou menor em relação ao dia atual</p>
<p> Pode ser análisado a incidencia por aeroporto também</p>
<p>Detalhe por semana também</p>
<p>Eu tenho 3000 vôos que partiram no horário 50%(1500) da empresa A e 50% da empresa B</p>

<p> Ranking por FAIXA_ATRASO_CHEGADA selecionando aeroporto  por mês e empresa</p>

<p> Ranking por FAIXA_ATRASO_SAIDA selecionando aeroporto em empresa por mês</p>

<p> Quantifique a porcentagem por FAIXA_ATRASO_CHEGADA selecionando aeroportoa por mês</p>

<p> Quantifique a porcentagem por FAIXA_ATRASO_PARTIFA selecionando aeroporto  por mês</p>